@require 'vars';

*, :after, :before {
    box-sizing: inherit;
    outline: none;
}
html {
    box-sizing: border-box;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: inherit;
    vertical-align: baseline;
}
a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
button, input, select, textarea {
    outline: 0;
    margin: 0;
    padding: 0;
    border: 1px solid #f2f2f2;
    background-color: #fff;
}

button{
    align-items: center;
    background-color: transparent;
    border: 0
    cursor: pointer;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

input[type=radio] {
    vertical-align: text-bottom;
}
input[type=checkbox] {
    vertical-align: bottom;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset;
}
textarea {
    resize: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
img {
    align-self: center;
    max-width: 100%
}
b, strong {
    font-weight: 700;
}

.anime-init {
	opacity: 1 !important;
	transform: translate(0px, 0px) !important;
	transition-property: all !important;
    transition-duration: 0.8s !important;
    transition-timing-function: ease !important;
}
.anime-fade {
	opacity: 0;
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: ease;
}
.anime-left {
	opacity: 0;
	transform: translate(-50px, 0px);
    transition: .8s all ease;
}
.anime-right {
	opacity: 0;
	transform: translate(50px, 0px);
    transition: .8s all ease;
} 
.anime-bottom {
	opacity: 0;
	transform: translate(0px, 50px);
    transition: .8s all ease;
}
.anime-top {
	opacity: 0;
	transform: translate(0px, -50px);
    transition: .8s all ease;
}

.container-padrao{
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 18px;
}
.container-padrao2{
    width: 1060px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 18px;
}
.container-padrao3{
    width: 836px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 18px;
}
.container-total{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}
