@import 'vars.styl';

.banner-background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 0;
    padding 1rem;
    .banner-container-pai{
        width: 100%;
        height 100%;
        position: relative;
        z-index: 2;
        .banner-container-conteudo-pai{
            height: 100%;
            position: relative;
            z-index: 2;  
            border-left: 2px solid $cinza_b6;
            border-right: 2px solid $cinza_b6;
            border-top: 2px solid $cinza_b6;
            padding-top: 140px;
            .container-padrao2{
                .banner-titulo-pai{
                    margin-bottom: 8%;
                    .banner-titulo-filho{
                        text-transform: uppercase;
                        color: $cinza_b6;
                        font-family: 'vogamedium';
                        font-size: 50px;
                    }
                }

                .banner-textos-pai{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .banner-textos-filho{
                        width 33%;
                        max-width 100%;
                        .banner-descricao{
                            p{
                                color: $cinza_f4;
                                font-family: 'qanelasmedium';
                                line-height: 23px;
                                font-size: 16px;
                                text-align: left;
                                letter-spacing: normal;
                            }
                            .redes{
                                margin-top: 20px;
                                max-width 100%;
                                width 100%;
                                .container-redes-pai{
                                    display: flex;
                                    max-width 100%;
                                    width 100%;
                                    .container-rede{
                                        a{
                                            margin-right: 25px;
                                            img{
                                                height: 21px;
                                                width: 21px;
                                            }
                                        }
                                    }
                                }
                            }
                        }      
                        .banner-informacoes{
                            padding: 0 15px;
                            max-width 100%;
                            .informacao-funcionamento{
                                margin-bottom: 20px;
                                max-width 100%;
                                .titulo{
                                    max-width 100%;
                                    h1{
                                        font-family: 'qanelasbold';
                                        font-size: 16px;
                                        color: $cinza_b6;
                                        text-transform: uppercase;
                                    }
                                }
                                .descricao{
                                    max-width 100%;
                                    p{
                                        font-family: 'qanelasregular';
                                        color: $cinza_b6;
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                        .banner-contatos{
                            margin-top: 10px;
                            padding: 0 15px;
                            max-width 100%;
                            .contato-cabecalho{
                                max-width 100%;
                                p{
                                    font-family: 'qanelasbold';
                                    font-size: 16px;
                                    text-transform: uppercase;
                                    color: $cinza_b6;
                                    margin-bottom: 10px;
                                }
                            }
                            .contato-conteudo{
                                max-width 100%;
                                display: flex; 
                                margin-bottom: 20px;
                                img{
                                    width 20px;
                                }
                                p{
                                    font-family: 'qanelasregular';
                                    font-size: 16px;
                                    color: $cinza_b6;
                                    margin-left: 10px;
                                }  
                            } 
                        }
                        .banner-formulario{
                            max-width 100%;
                            h1{
                                font-family: 'qanelasbold';
                                font-size: 16px;
                                text-transform: uppercase;
                                line-height: 20px;
                                color: $cinza_b6;
                                margin-bottom: 15px;
                            }
                            form{
                                display: block;
                                max-width 100%;
                                width 100%;
                                input{
                                    height: 39px;
                                    width: 100%;
                                    max-width 100%;
                                    border: 2px solid $cinza_a6;
                                    color: $cinza_9b;
                                    background-color: transparent;
                                    font-family: 'qanelasregular';
                                    font-size: 16px;
                                    padding: 8px;
                                    margin-bottom: 10px;
                                    &::placeholder{
                                        font-family: 'qanelasregular';
                                        font-size: 16px;
                                        color: $cinza_9b;
                                    }
                                }
                                textarea{
                                    height: 69px;
                                    width: 100%;
                                    max-width 100%;
                                    border: 2px solid $cinza_a6;
                                    color: $cinza_9b;
                                    background-color: transparent;
                                    font-family: 'qanelasregular';
                                    font-size: 16px;
                                    padding: 8px;
                                    margin-bottom: 10px;
                                    &::placeholder{
                                        font-family: 'qanelasregular';
                                        font-size: 16px;
                                        color: $cinza_9b;
                                    }
                                }
                                button{
                                    background-color: $cinza_a6;
                                    padding: 8px;
                                    height: 39px;
                                    width: 163px;
                                    color: $verde_3b;
                                    font-family: 'qanelasbold';
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
            }       
        }
    }
}

.container-map-pai{
    width: 100%;
    height: 600px;
    padding: 0 1rem;
    margin-top -62px;
    .container-total{
        overflow hidden;
        padding: 0 35px;
        .container-padrao{
            height: 500px;
            z-index: 5;
            box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.16);
            padding: 10px;
            background-color: #fff; 
            position: relative;
            #map{
                height: 100%;
                position: relative;
            }
            &::before{
                content: "";
                position: absolute;
                margin-right: 20px;
                margin-top: 34px;
                right: 100%;
                height: 2px;
                width: 100%;
                border-top: solid 2px $cinza_b6;
            }
            &::after{
                content: "";
                position: absolute;
                margin-left: 20px;
                margin-top: 45px;
                left: 100%;
                top: 0;
                height: 2px;
                width: 100%;
                border-top: solid 2px #c5beb6;
            }
        }
    }    
}
@media(max-width: 768px){
    .banner-background {
        height: fit-content;
        .banner-container-pai .banner-container-conteudo-pai{
            padding-bottom: 70px;
            .container-padrao2{
                .banner-titulo-pai{
                    margin-bottom: 8%;
                    .banner-titulo-filho h1{
                        text-transform: uppercase;
                        color: $cinza_b6;
                        font-family: 'vogamedium';
                        font-size: 50px;
                        text-align: center;
                    }
                }
                .banner-textos-pai{
                    flex-direction: column;
                    align-items: center;
                    .banner-textos-filho{
                        width 500px;
                        .banner-descricao{
                            p{
                                text-align: center;
                            }
                            .redes .container-redes-pai{
                                justify-content: center;
                            }
                        }      
                        .banner-informacoes{
                            margin-top 30px;
                            .informacao-funcionamento{
                                width: fit-content;
                                margin 0 auto 20px;
                            }
                        }
                        .banner-contatos{
                            margin: 20px auto 0;
                            padding: 0;
                            width fit-content;
                        }
                        .banner-formulario{
                            margin-top 30px;
                            h1{
                                text-align: center;
                            }
                            form button{
                                margin 0 auto;
                            }
                        }
                    }
                }     
            }
        }
    }
}

@media(max-width: 500px){
    .container-map-pai .container-total{
        padding: 0 20px;
        .container-padrao{
            &::before{
                margin-right: 5px;
            }
            &::after{
                margin-left: 5px;
            }
        }
    }
}