@import 'vars';

.receba-novidades{
    height: 256px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .container-padrao{
        position: relative;
        z-index: 2;
        .textos{
            margin-bottom: 20px;
            h1{
                font-family: 'qanelasbold';
                font-size: 38px;
                color: $verde_3b;
                margin-bottom: 10px;
            }    
            p {
                font-family: 'qanelasregular';
                font-size: 20px;
                color: $verde_3b;
            }
        }
        form{
            display: flex;
            position: relative;
            z-index: 2;
            align-items: center;
            input{
                height: 49px;
                width: 398px;
                border: 2px solid $verde_3b;
                color: $cinza_9b;
                font-family: 'qanelasregular';
                font-size: 20px;
                padding: 8px;
                margin-right: 20px;
                background-color: transparent;
            }
            button{
                background-color: $verde_3b;
                padding: 8px;
                height: 49px;
                width: 173px;
                color: $cinza_f4;
                font-family: 'qanelasbold';
                font-size: 20px;
            }
            p{
                font-family: 'qanelasregular';
                font-size: 16px;
                margin-left: 10px;
                &.error{
                    color darkred;
                }
                &.success{
                    color green;
                }
            }
        }
    }
}

footer {
    height: fit-content;
    width: 100%;
    background-color: $verde_3b;
    .container-padrao{
        width: 1280px;
        padding: 80px 40px 40px 40px;
        height: 100%;
        position: relative;
        .container-filho{
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            .container-conteudo-primeiro{
                width: 58%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                .logo{
                    padding: 10% 0;
                }
                .informacoes{
                    .informacao-funcionamento{
                        margin-bottom: 40px;
                        .titulo{
                            h1{
                                font-family: 'qanelasbold';
                                font-size: 18px;
                                color: $cinza_b6;
                                text-transform: uppercase;
                            }
                        }
                        .descricao{
                            p{
                                font-family: 'qanelasregular';
                                color: $cinza_b6;
                                font-size: 16px;
                            }
                        }
                    }
                }
                .contatos{
                    .contatos-conteudo{
                        .contato-cabecalho{
                            p{
                                font-family: 'qanelasbold';
                                font-size: 18px;
                                text-transform: uppercase;
                                color: $cinza_b6;
                                margin-bottom: 10px;
                            }
                        }
                        .contato-conteudo{
                            display: flex; 
                            margin-bottom: 40px;
                            p{
                                font-family: 'qanelasregular';
                                font-size: 18px;
                                color: $cinza_b6;
                                margin-left: 10px;
                            }  
                        }
                    } 
                }
            }
            .container-conteudo-segundo{
                width: 35%;
                height: fit-content;
                .cabecalho{
                    ul{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        li{
                            a{
                                font-family: 'qanelasbold';
                                font-size: 18px;
                                text-transform: uppercase;
                                color: $cinza_b6;
                            }
                        }
                    }
                }
                .container-redes-pai{
                    width: 100%;
                    max-width 100%;
                    margin-top: 50px;
                    .container-redes{
                        margin: 0 auto;
                        width: 100%;
                        max-width 100%;
                        display flex;
                        justify-content: flex-end;
                        .container-rede{
                            border: 1px solid transparent;
                            display: flex;
                            margin-left: 5px;
                            padding: 5px;
                            cursor: pointer;
                            &:hover{
                                border: 1px solid $cinza_b6;
                                padding: 5px;
                                transition: .5s;
                                transition-duration: .5s;
                            }
                            a{
                                height: 100%;
                                width: 100%;
                                display: flex;
                                align-items: end;
                                img{
                                    margin-right: 3px;
                                    width: 15px;
                                    height: 15px;
                                }
                                p{
                                    font-family: 'qanelasregular';
                                    text-transform: uppercase;
                                    color: $cinza_b6;
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
                .botao{
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 40px;
                    cursor: pointer;
                    .botao-conteudo{
                        height: 50px;
                        width: 50px;
                        background-color: $cinza_b6;
                        padding: 10px;
                        img{
                            height: 25px;
                            width: 15px;
                            transform: rotate(270deg)
                        }
                    }
                }
            }  
        }
        .container-ultimo{
            width: 1200px;
            bottom: 0; 
            left: 0;  
            .texto{
                width: 100%;
                p{
                    font-family: 'qanelasregular';
                    font-size: 16px;
                    color: $cinza_b6;
                    text-align: center;
                }
            } 
        }
    }
}


@media(max-width: 1280px){
    footer {
        height: fit-content;
        .container-padrao{
            width: 100%;
            padding: 0 20px;
            .container-filho{
                display: block;
                width: 100%;
                height: 100%;
                .container-conteudo-primeiro{
                    display: block;
                    justify-content: space-between;
                    width: 100%;
                    height: 60%;
                    .logo{
                        align-items: center;
                        justify-content: center;
                        display: flex;
                        padding: 5% 0;
                        width: 100%;
                    }
                    .informacoes{
                        display: flex;
                        justify-content: space-around;
                        width: 100%;    
                        flex-wrap: wrap;                    
                        .informacao-funcionamento{
                            margin-bottom: 40px;
                            margin-left: 8px;                        
                            
                            .titulo{
                                h1{                                    
                                    font-size: 18px;                                    
                                }
                            }
                            .descricao{
                                p{                                    
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                    .contatos{
                        display: flex;
                        justify-content: space-around;
                        .contato-cabecalho{
                            p{                               
                                font-size: 18px;                               
                            }
                        }
                        .contato-conteudo{
                            display: flex; 
                            margin-bottom: 20px;
                            p{                                
                                font-size: 16px;
                                margin-left: 15px;
                            }  
                        } 
                    }
                }
                .container-conteudo-segundo{
                    width: 100%;
                    height: fit-content;
                    .cabecalho{
                        flex-wrap: wrap;
                        margin-top: 5%;
                        ul{
                            display: flex;
                            justify-content: space-around;
                            width: 100%;
                            li{
                                margin: 15px;
                                min-width: 50px;
                                display: flex;
                                justify-content: center;
                                a{
                                    font-family: 'qanelasbold';
                                    font-size: 16px;
                                    text-transform: uppercase;
                                    color: $cinza_b6;
                                }
                            }
                        }
                    }
                    .container-redes-pai{
                        .container-redes{
                            justify-content: center;
                            height: 30px;
                            .container-rede{   
                                display: flex;         
                                
                                a{
                                    align-items: center;
                                    img{
                                        margin-right: 3px;
                                        min-width: 15px;
                                        min-height: 15px;
                                    }
                                    p{                                    
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                    .botao{  
                        margin-top: 20px;                      
                        .botao-conteudo{
                            height: 40px;
                            width: 40px;                
                            padding: 10px;
                            img{
                                height: 20px;
                                width: 10px;
                            }
                        }
                    }
                }  
            }
            .container-ultimo{
                height: 40px;
                width: 100%; 
                margin-top 20px;
                .texto{
                    display: flex;
                    justify-content: center;
                    p{                        
                        font-size: 16px; 
                        width: 320px;                       
                       
                    }
                } 
            }
        }
    }
}

@media(max-width: 768px){
    footer .container-padrao .container-filho .container-conteudo-segundo .container-redes-pai .container-redes {
        flex-direction: column;
        align-items: center;
        .container-rede{
            width 110px;
            margin-top 15px;
        }
    }
    .receba-novidades{
        height: 386px;
        .container-padrao{
            form{
                display: block;
                input{
                    width: 80%;
                }
                button{
                    margin-top: 15px;
                }
            }
        }
    }

    footer {
        .container-padrao{
            .container-filho{
                .container-conteudo-primeiro{
                    .contatos{
                        display: block;
                        margin-left: 5%;
                    }
                }
            }
        }
    }
}
