@import 'vars.styl';

.banner-pai{
    position: absolute;
    height: 100vh;  
    min-height: 470px;  
    width: 100%;
    .banner-carrosel{
        height: 100%;    
        width: 100%;
        position: relative;
        .slick-list{ 
            height 100%;
            .slick-track{
                height 100%;
            }
        }
        .banner-background {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;    
            width: 100%;
            .banner-textos-pai {
                display: flex;
                justify-content: center;
                height: 100vh;
                .banner-textos-filho {
                    position: absolute;
                    z-index: 1;
                    margin-top: 250px;
                    padding-bottom: 20px;
                    border: 2px solid $cinza_b6;
                    border-width: 0 2px 2px 2px;
                    .banner-titulo {
                        margin-bottom: 1rem;
                        height 180px;
                        margin-top -90px;
                        overflow hidden;
                        padding 0 20px;
                        h1 {
                            color: $cinza_b6;
                            font-family: 'vogamedium';
                            line-height: 1.2;
                            text-decoration: uppercase;
                            font-size: 52px;
                            text-align: center;
                            position relative;
                            padding 0 20px;
                            &:after{
                                content: "";
                                position: absolute;
                                top: 50%;
                                left 100%;
                                height: 3px;
                                width: 1000%;
                                border-top: solid 2px currentColor;
                            }
                            &:before{
                                content: "";
                                position: absolute;
                                top: 50%;
                                right: 100%;
                                height: 3px;
                                width: 1000%;
                                border-top: solid 2px currentColor;
                            }
                        }
                    }

                    .banner-descricao {
                        margin-bottom: 3rem;
                        padding: 0 20px;
                        p {
                            color: $cinza_b6;
                            font-family: 'qanelasmedium';
                            line-height: 1.2;
                            font-size: 18px;
                            text-align: center;
                        }
                    }
                }
            }
        } 
    }
}

.banner-container-pai {
    padding: 1rem;
    position: relative;
    overflow hidden;
    .banner-conteudo {
        height: calc(100vh - 2rem);
        border-left: 2px solid $cinza_b6;
        border-right: 2px solid $cinza_b6;
        border-top: 2px solid $cinza_b6;
        padding: 50px;
        .banner-arrows {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            width: 100%;
            opacity: .6;
            .arrow-esquerda {
                transform: rotate(180deg);
                cursor: pointer;

                img {
                    width: 40px;
                    height: 40px;
                }
            }

            .arrow-direita {
                cursor: pointer;

                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}

.seta-ultima-banner {
    width: 100%;
    z-index: 5;
    padding: 0 1rem;
    margin-top -25px;
    .container-total{
        display: flex;
        overflow hidden;
        justify-content: center;
        .container-imagem{
            position: relative;
            height 25px;
            img {
                height: 25px;
                width: 25px;
            }
            &::before {
                content: "";
                position: absolute;
                margin-right: 20px;
                margin-top: 8px;
                right: 100%;
                height: 2px;
                width: 50vw;
                border-top: solid 2px #c5beb6;
            }
            &::after {
                content: "";
                position: absolute;
                margin-left: 20px;
                margin-top: 8px;
                left: 100%;
                top: 0;
                height: 2px;
                width: 50vw;
                border-top: solid 2px #c5beb6;
            }
        }
    } 

}

.sessao-informacoes{
    height: 180px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem 0;
    flex-wrap: wrap;
    .informacoes-conteudo-pai{
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;        
        .card-informacao-pai{
            height: 100%;
            width: 100%;
            display: flex;
            .card-informacao-filho{
                display: flex;
                justify-content: space-between;
                width: 100%;
                 .card-icone{
                    width: 80px;
                    img{
                        max-height: 83px;
                        max-width: 83px;
                    }
                }
                .card-textos{
                    height: 80px;
                    width: 185px;
                    margin-left: 0.8rem;
                    .card-titulo{
                        width: 120px;
                        h1 {
                            font-family: 'qanelasbold';
                            line-height: 1.2;
                            font-size: 26px;
                            color: $cinza_b6;
                            
                        } 
                    }
                    .card-descricao{
                        width: 150px;
                        p{
                            font-family: 'qanelasmedium'; 
                            line-height: 1.5;
                            font-size: 16px;
                            color: $cinza_b6;
                        }
                    }
                }
            }
        }
    }
}

.banner-obras{
    width: 100%;
    height: 600px;
    .banner-obras-conteudo{
        width: 1280px;
        height: 438px;
        display: flex;
        padding: 0 40px;
        .obras-main{
            width: 95%;
            height: 100%;
            .slick-list{
                height 100%;
                .slick-track{
                    height 100%;
                }
            }
            .fundo-cinza{
                background-color: $cinza_b6;
            }
            .fundo-cinza-claro{
                background-color: $cinza_f4;
            }
            .fundo-verde{
                background-color: $verde_3b;
            }
            .obras-carrossel{
                width: 100%;
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                .obras-carrossel-conteudo{
                    width: 100%;
                    height: 100%;
                    position: relative;
                    display: flex;
                    .bloco-textos{
                        height: fit-content;
                        width: fit-content;
                        z-index: 2;
                        position: relative;
                        padding: 55px 0 45px 160px;
                        h1{
                            font-family: 'qanelasextrabold';
                            font-size: 82px;
                        }
                        p{
                            font-family: 'qanelasmedium';
                            font-size: 18px;
                            line-height: 30px;
                            width: 450px;
                        }
                        .fonte-cinza{
                            color: $cinza_b6;
                        }
                        .fonte-preta{
                            color: $preto_02;
                        }
                    }
                    a{
                        cursor: pointer;
                        .bloco-seta-unica{
                            position: absolute;
                            z-index: 2;
                            bottom: 0;
                            left: 0;
                            width: 73px;
                            height: 73px;
                            background-color: $preto_02;
                            
                            img{
                                opacity: .8;
                                width: 45px;
                                height 45px;
                            }
                        }
                    }                     
                }
            }
        }
        .obras-carrosel-controles{
            width: 5%;
            height: 100%;
            position: relative;
            .sessoes-carrossel{
                position: absolute;
                top: 0;
                right: 0;
                .numero-sessao{
                    height: fit-content;
                    width: fit-content;
                    &:after{
                        display: flex;
                        align-items: center;    
                        content: "";
                        position: absolute;
                        height: 2px;
                        width: 28px;
                        background-color: $cinza_b6;
                        margin: 5px 0
                        opacity: .7;
                    }
                    p{
                        font-family: 'qanelasregular';
                        font-size: 26px;
                        color: $verde_3b;
                    }   
                }
                .numeros-de-sessoes{
                    opacity: .7;
                    margin: 10px 0
                    p{
                        font-family: 'qanelasregular';
                        font-size: 26px;
                        color: $cinza_b6;
                    } 
                }
            }
            .carrosel-setas{
                position: absolute;
                bottom: 0;
                right: 0;
                .seta-anterior{
                    filter: brightness(0%);
                    transform: rotate(180deg); 
                    height: fit-content;
                    width: fit-content;
                    margin-bottom: 20px;
                    cursor: pointer;
                    img{
                        width: 15px;
                        height: 25px;
                    }
                }
                .seta-proximo{
                    filter: brightness(0%);
                    cursor: pointer;
                    img{
                        width: 15px;
                        height: 25px;
                    }
                }
            }
        }
    }
}

.obras-ultimas{
    height: 500px;
    width: 100%;
    margin-top: 12%;
    .container-padrao{
        height: 100%;
        .cabecalho{
            width: 100%;
            display: flex;
            justify-content: center;
            h1{
                font-family: 'qanelasbold';
                font-size: 32px;
                line-height: 1;
                letter-spacing: normal;
                text-align: center;
                text-transform: uppercase;
            }
        }
        .container-cards-obras{
            height: 366px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .card-obra{
                margin: 16px;
                padding: 6px;
                height: 256px;
                width: 256px;
                box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.16);
                background-color: $branco;
                position: relative;
                .camada-preta{
                    &::before{
                        opacity: 0.1;
                    }
                }
                .imagem {
                    height: 246px;
                    width: 246px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: relative;
                    a {
                        cursor: pointer;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        z-index: 99;

                        .botao {
                            width: 55px;
                            height: 55px;
                            background-color: $preto_02;

                            img {
                                width: 25px;
                                height: 25px;
                            }
                        }
                    }
                    .card-conteudo { 
                        z-index: 5;
                        position: relative;
                        height: 100%;
                        width: 100%;
                        padding: 6px;
                        opacity: 0;
                        transition: all .3s;

                        .etiqueta {
                            position: absolute;
                            z-index: 2;
                            right: 0;
                            margin-top: 5px;
                            width: 60px;
                            height: 20px;

                            p {
                                font-family: 'qanelasbold';
                                font-size: 8px;
                                width: 100%;
                                text-align: center;
                            }
                        }

                        .etiqueta-verde {
                            background-color: $verde_3b;
                            p {                                
                                color: $cinza_f4;                          
                            }
                        }

                        .etiqueta-cinza-claro {
                            background-color: $cinza_f4;
                            p{
                                color: $preto_02;
                            }
                        }

                        .etiqueta-cinza {
                            background-color: $cinza_b6;
                            p{
                                color: $preto_02;
                            }
                        }

                        .textos {
                            padding-top: 20%;
                            h1 {
                                font-size: 16px;
                                font-family: 'qanelasmedium';
                                padding: 0 10%;
                                line-height: 1.50;
                                color: $cinza_f4;
                                text-align: center;
                                text-transform: uppercase;
                            }

                            p {
                                padding: 0 10%;
                                height: 121px;
                                font-size: 12px;
                                font-family: 'qanelasregular';
                                line-height: 1.30;
                                color: $cinza_f4;
                                text-align: center;
                            }
                        }
                    }
                }
                &:hover{
                    .camada-preta{
                        &::before{
                            opacity: 0.4;
                        }
                    }
                    .card-conteudo {
                        opacity: 1.0;
                    }
                }
            }
        }
    }
}

.container-clientes{
    width: 100%;
    height: 650px;
    position: relative;
    .container-padrao{
        height: 550px;
        display: flex;
        position: relative;
        .cliente-border{
            position: relative;
            height: 100%;
            width: 100%;
            display: flex;
            .imagem-cliente{
                width: 35%;                
                img{                    
                    object-fit: cover;
                    border: 5px $cinza_a6 solid;
                    padding: 15px;
                    border-radius: 50%;
                    width: 400px;
                    height: 400px;
                }
            }
            
            .cliente-frase{
                width: 60%;
                margin-top: 120px;
                position: relative;
                h1{
                    font-family: 'qanelasbold';
                    font-size: 34px;
                    text-transform: uppercase;
                    color: $verde_3b;
                }
                .cliente-ultimo {
                    display: flex;
                    width: 60%;
                    justify-content: start;
                    position: absolute;
                    left: 0;
                    margin: 25px 0;
                    .textos {
                        .nome {
                            font-family: 'qanelasbold';
                            font-size: 20px;
                        }

                        .ano {
                            font-family: 'qanelasextrabold';
                            font-size: 12px;
                            text-transform: uppercase;
                        }

                    }
                }
            }
            
        }
    }
    .container-ultimo{
        width: 100%;
        height: 47px;
        background-color: $verde_3b;
        position: absolute;
        bottom: 0;    
    }
}

@media(max-width: 1340px){

    .banner-obras{
        width: 100%;
        height: 600px;
        .banner-obras-conteudo{
            width: 1060px;
        }
    }

    .obras-ultimas{
        height: 620px;    
    }
}

@media(max-width: 1156px){
    
    .banner-container-pai {
        padding: 1rem;
        .banner-container-ultimo {
            .seta {
                img {
                    height: 25px;
                    width: 25px;
                }

                &::before {                    
                    width: 35.8%;                    
                }
                &::after {                    
                    width: 35.8%;                    
                }
            }
        }
        .banner-conteudo {
            padding: 25px;
            .banner-arrows {
                align-items: flex-end;
                .arrow-esquerda .arrow-direita {
                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }

    .sessao-informacoes{
        padding: 3rem 0;
        height: 500px;
        .informacoes-conteudo-pai {
            flex-wrap: wrap;
            .card-informacao-pai{
                display: flex;
                flex-wrap: wrap;
                margin: 5px;
                .card-informacao-filho {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    .card-textos {
                        height: 100px;
                        width: 185px;
                        margin-left: 0.8rem;
                        .card-titulo h1{
                                font-size: 20px;
                        }
                        .card-descricao p{                            
                                font-size: 12px;
                                 width: 180px;
                        }
                    }
                    .card-icone{
                        width: 73px;
                        img{
                            max-height: 63px;
                            max-width: 63px;
                        }
                    }
                }
            }
            
        }
            
    }

    .banner-obras{
        height: 500px;
        .banner-obras-conteudo{
            width: 100%;
            height: 338px;
            padding: 0 20px;
            display: block;
            .obras-main{
                width: 100%;
                .obras-carrossel {
                    .obras-carrossel-conteudo {
                        .bloco-textos {
                            padding: 8% 0 0 12%;
                            h1 {
                                font-size: 42px;
                            }
                            p {
                                font-size: 16px;
                                width: 70%;
                            }
                        }
                        .bloco-imagem {
                            .imagem-produto {
                                margin-left: 40px;
                                img {
                                    max-height: 90%;
                                }
                            }
                        }
                        a{
                            .bloco-seta-unica {
                                width: 53px;
                                height: 53px;
                                img {
                                    width: 25px;
                                    height 25px;
                                }
                            }
                        }
                    }
                }
            }
                
        
            .obras-carrosel-controles{
                width: 100%;
                height: 10%;
                position: relative;
                display: flex;
                margin-top: 40px;
                .sessoes-carrossel{
                     display: flex;
                    .numero-sessao{
                        height: fit-content;
                        width: fit-content;
                        display: flex;
                        &:after{
                            display: none;
                        }
                        p{
                            font-size: 22px;
                        }   
                    }
                    .numeros-de-sessoes{
                        margin: 0 10px;
                        display: flex;
                        &:after{
                            display: flex;
                            align-items: center;    
                            content: "";
                            position: absolute;
                            height: 28px;
                            width: 2px;
                            background-color: $cinza_b6;
                            opacity: .7;
                        }
                        p{
                            font-size: 24px;
                            margin-left: 5px;
                        } 
                    }
                }
                .carrosel-setas{
                    left: 0;
                    display: flex;
                    align-items: center;
                    width: 30%;
                    justify-content: space-between;
                    .seta-anterior{
                        margin-bottom: 0px;
                        img{
                            width: 15px;
                            height: 25px;
                        }
                    }
                    .seta-proximo{
                        filter: brightness(0%);
                        img{
                            width: 15px;
                            height: 25px;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }

    .obras-ultimas{
        height: 650px;
    }
}  

@media(max-width: 1060px){
    .container-clientes{
        height: fit-content;
        .container-padrao{
            height: fit-content;
            .cliente-border{
                flex-flow: column-reverse;
                height: fit-content;
                .imagem-cliente{
                    width: 100%;    
                    display: flex;
                    justify-content: center;            
                }
                .cliente-frase{
                    width: 100%; 
                    margin-top: 80px;
                    .cliente-ultimo {
                        position: relative;
                        margin: 0;
                    }
                }
            }
        }
        .container-ultimo{
            display: none; 
        }
    }
}

@media(max-width: 768px){     
    .banner-pai .banner-carrosel .banner-background {
        .banner-textos-pai {
            flex-wrap: wrap;
            .banner-textos-filho {
                margin-top: 40%;
                padding-bottom: 5px;
                height: 170px;
                .banner-titulo {
                    padding: 0 10px;
                    margin-bottom: 0px;
                    h1 {
                        font-size: 26px;
                        text-align: center;
                        width: 200px;
                        height: 100px;
                        &::before {
                            content: hidden;
                        }
                        &::after {
                            content: hidden;
                        }
                    }
                }
                .banner-descricao {
                    margin-bottom: 10px;
                    p {
                        font-size: 12px;
                        text-align: center;
                        width: 190px;
                    }
                } 
            }
        }
    }

    .obras-ultimas{
        height: 500px;
        margin-top: 20%;
        margin-bottom: 10%;
        .container-padrao{
            padding: 0;
            .cabecalho{
                margin-bottom: 30px;
                h1{
                    font-size: 22px;
                }
            }
            .container-cards-obras {
                height: 266px;
                flex-wrap: wrap;
                .card-obra {
                    padding: 6px;
                    height: 216px;
                    width: 216px;
                    margin-right: 16px;
                    margin-bottom: 16px;
                    .imagem {
                        height: 206px;
                        width: 206px;
                        a {
                            .botao {
                                width: 45px;
                                height: 45px;
                                img {
                                    width: 25px;
                                    height: 25px;
                                }
                            }
                        }
                        .card-conteudo {
                            .etiqueta {
                                margin-top: 5px;
                                width: 50px;
                                height: 15px;
                            }
                            .textos {
                                h1 {
                                    font-size: 14px;
                                    padding: 0;                               
                                }

                                p {
                                    height: 91px;
                                    font-size: 12px;
                                }
                            }
                        }
                    }            
                    
                }
            }
        }
    }
}

@media(max-width: 500px){
    .obras-ultimas{
        height: 1100px;
    }

}

@media(max-width: 425px){
    .container-clientes{
        .container-padrao{
            .cliente-border{
                .imagem-cliente{
                    img{
                        width: 320px;
                        height: 320px;  
                    }       
                }
            }
        }
    }
}
