@require 'vars';
@require 'base';

.camada-verde{
  position: relative;
  &::before{
    opacity: 0.8;
    background-color: $verde_3b;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

.camada-preta{
  position: relative;
  &::before{
    opacity: 0.8;
    background-color: #020c15;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

.camada-branca{
  position: relative;
  &::before{
    opacity: 0.8;
    background-color: $branco;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

.camada-preta{
  position: relative;
  &::before{
    opacity: 0.4;
    background-color: $preto;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

.camada-branca-esquerda{
  position: relative;
  &::before{
    opacity: 0.8;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}



.botao-verde{
  align-items: center;
  background-color: $verde_3b;
  border: 0;
  display: flex;
  height: 62px;
  width: 330px;
  justify-content: center;
  max-width: 100%;
  &.fonte-cinza{
    color: $cinza_f4;
    font-size: 24px;
    font-family: 'qanelasbold';
    letter-spacing: normal;
    line-height: 1.12;
    text-align: center;
    &:hover {
        color: $cinza_f4;
    }
  }
}

.botao-branco{
  background-color: $cinza_f4;
  align-items: center;
  border: 2px solid $verde_3b;
  display: flex;
  height: 62px;
  width: 330px;
  justify-content: center;
  max-width: 100%;
  &.fonte-verde{
    color: $verde_3b;
    font-size: 24px;
    font-family: 'qanelasbold';
    letter-spacing: normal;
    line-height: 1.12;
    text-align: center;
    &:hover {
        transition-duration: 0.6s;
        background-color: $verde_3b;
        color: $cinza_f4;
    }
  }
}

.centralizar{
  display: flex;
  justify-content: center;
  align-items: center;
}