@import 'vars';

.scroll-block{
    max-width: 100%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
}
.mostrar-menu {
  width:  100% !important;  
}
.container-loading{
    max-width 100%;
    width 100vw;
    height 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    position: absolute;
    z-index 9999;
    .conteudo{
        max-width 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #logo{
            width: 170px;
        }
        #gif{
            margin-top: 30px;
            width: 70px;
            height 70px;
        }
    }
}
.header {
    position absolute;
    width: 100%;
    max-width 100%;
    z-index 100;
    .menu-lateral {
        height: 100%;
        width: 0; 
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: $preto_02;
        opacity: .9;
        transition: 0.95s;
        padding-bottom: 20px;
        overflow hidden;
        .after-container {
            width:100vw;
            height 100%;
            max-width 100%;
            display: flex;
            flex-flow: column wrap;
            .container-redes-pai{
                width: 100%;
                max-width 100%;
                margin-top: 250px;
                .container-redes{
                    margin: 0 auto;
                    width: 1280px;
                    max-width 100%;
                    display flex;
                    justify-content: flex-end;
                    padding: 0 40px;
                    flex-wrap: wrap;
                    .container-rede{
                        border: 1px solid transparent;
                        display: flex;
                        margin-left: 5px;
                        padding: 5px;
                        cursor: pointer;
                        &:hover{
                            border: 1px solid $cinza_b6;
                            padding: 5px;
                            transition: .5s;
                            transition-duration: .5s;
                        }
                        
                        a{
                            height: 100%;
                            width: 100%;
                            display: flex;
                            align-items: end;
                            img{
                                margin-right: 3px;
                                width: 15px;
                                height: 15px;
                            }
                            p{
                                font-family: 'qanelasregular';
                                text-transform: uppercase;
                                color: $cinza_b6;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
            
            .itens-responsivo {
                width: 100vw;
                display: flex;
                flex-flow: column wrap;
                text-align: center;
                ul{
                    display flex;
                    flex-direction: column;
                    align-items: flex-end;
                    width: 1280px;
                    max-width 100%;
                    margin 0 auto;
                    padding: 0 40px;
                    .item{
                        margin-top: 15px;
                        width: fit-content;
                        display: flex;
                        align-items: center;
                        a{
                            font-family: 'vogamedium';
                            font-size: 30px;
                            color: $cinza_b6;
                            text-transform: uppercase;
                            text-align: right;
                        }
                        .linha{
                            height: 2px;
                            width: 0px;
                            margin-left: 15px;
                            background-color: $cinza_b6;
                            transition: all .3s;
                        }
                        &.active{
                            .linha {
                                width: 25px;
                            }  
                        }
                        &:hover{
                            .linha {
                                width: 25px;
                            }  
                        }
                        
                    }
                }
            }
        }
    }
    .container-padrao{
        width: 1280px;
        padding: 0 40px;
        display flex;
        justify-content: space-between;
        padding-top: 4rem;
        align-items: center;
        top 0;
        .container-logo{
            width: fit-content;
            height: 80px;
            max-width 100%;
            a img{
                height 100%;
                width 100%;
            }
        }
        .container-menu{
            cursor: pointer;
            img{
                width: 57px;
                height: 57px;
            }
        }
    }
}

@media(max-width: 375px){
    
    header{
        .menu-lateral .after-container .container-redes-pai .container-redes{    
            padding: 0;
        }
    }
    
}

