@import 'vars.styl';

.banner-background{
    width: 100%;
    max-width 100%;
    height 50vh;
    min-height: 600px;
    padding: 1rem;
    background-position: center;
    background-size: cover;
    .banner-container-pai{
        width 100%;
        max-width 100%;
        height 100%;
        display: flex;
        .banner-container-conteudo-pai{
            width 100%;
            height 100%;
            max-width 100%;
            z-index: 10;
            border: solid 2px #c5beb6;
            border-width: 2px 2px 0 2px;
            display flex;
            align-items: center;
            .container-padrao2{
                display flex;
                flex-direction: column;
                align-items: center;
                z-index 10;
                margin-bottom: -1rem;
                .banner-titulo{
                    width 500px;
                    max-width 100%;
                    h1{
                        text-transform: uppercase;      
                        color: #c5beb6;
                        font-family: 'vogamedium';
                        font-size: 52px;
                        text-align: center;
                        margin-bottom: 16px;
                    }
                    p{
                        font-family: 'qanelasregular';
                        font-size: 26px;
                        font-weight: 500;
                        text-align: center;
                        color: #c5beb6;
                        margin-top 25px;
                    }
                }
            }
        }
    }
}

.container-filtro-pai{
    width calc(100% - 2rem);
    max-width 100%;
    margin -150px auto 0;
    overflow hidden;
    .container-padrao{
        display flex;
        flex-direction: column;
        z-index 90;
        position relative;
        padding: 0 40px;
        &::before{
            content: "";
            position: absolute;
            margin-right: -20px;
            margin-top: 132px;
            right: 100%;
            height: 2px;
            width: 100%;
            border-top: solid 2px #c5beb6;
        }
        &::after{
            content: "";
            position: absolute;
            margin-left: -20px;
            margin-top: 132px;
            left: 100%;
            top: 0;
            height: 2px;
            width: 100%;
            border-top: solid 2px #c5beb6;
        }
        .container-filtro-obras-pai{
            display flex;
            flex-direction: column;
            align-items: center;
            z-index 10;
            h1{
                font-family: 'qanelasextrabold';
                font-size: 20px;
                line-height: 1;
                text-align: center;
                color: #c5beb6;
            }
            .container-filtro-obras{
                display flex;
                width 100%;
                max-width 100%;
                margin-top 30px;
                justify-content: space-between;
                .container-filtro-obra{
                    width: 32.5%;
                    max-width 100%;
                    position relative;
                    padding: 20px 0 20px 5%;
                    a{
                        .container-texto{
                            width 50%;
                            max-width 100%;
                            h1{
                                font-family: 'qanelasextrabold';
                                font-size: 32px;
                                line-height: 1.06;
                                color: #acacac;
                                text-align: left;
                                transition: all .3s;
                            }
                            p{
                                font-family: 'qanelasbold';
                                font-size: 12px;
                                line-height: 2.67;
                                color: #acacac;
                                display flex;
                                align-items: center;
                                transition: all .3s;
                                img{
                                    width 20px;
                                    margin-left 15px;
                                    transition: all .3s;
                                }
                            }
                        }
                        .container-imagem{
                            width 100%;
                            max-width 100%;
                            position absolute;
                            display flex;
                            align-items: flex-end;
                            justify-content: flex-end;
                            height 100%;
                            background-color: #f4f4f4;
                            top: 0;
                            right 0;
                            transition: all .3s;
                            z-index -1;
                            img{
                                align-self: flex-end;
                                object-fit: contain;
                                max-height: 100%;
                                filter: grayscale(1);
                                transition: all .3s;
                            }
                        }
                    }
                    &.marcenaria{
                        &:hover{
                            a{
                                .container-texto{
                                    h1, p{
                                        color: #020c15;
                                        img{
                                            margin-left 20px;
                                        }
                                    }
                                }
                                .container-imagem img{
                                    filter: grayscale(0);
                                }
                            }
                        }
                    }
                    &.ambientacao{
                        &:hover{
                            a{
                                .container-texto{
                                    h1, p{
                                        color: #020c15;
                                        img{
                                            margin-left 20px;
                                        }
                                    }
                                }
                                .container-imagem{
                                    background-color: #c5beb6;
                                    img{
                                        filter: grayscale(0);
                                    }
                                }
                            }
                        }
                    }
                    &.decoracao{
                        &:hover{
                            a {
                                .container-texto p img{
                                    margin-left 20px;
                                }
                                .container-imagem{
                                    background-color: #40443b;
                                    img{
                                        filter: grayscale(0);
                                    }
                                }
                            }
                        }
                    }
                    &.ativo{
                        &.marcenaria a{
                            .container-texto{
                                h1, p{
                                    color: #020c15;
                                    img{
                                        margin-left 20px;
                                    }
                                }
                            }
                            .container-imagem img{
                                filter: grayscale(0);
                            }
                        }
                        &.ambientacao a{
                            .container-texto{
                                h1, p{
                                    color: #020c15;
                                    img{
                                        margin-left 20px;
                                    }
                                }
                            }
                            .container-imagem{
                                background-color: #c5beb6;
                                img{
                                    filter: grayscale(0);
                                }
                            }
                        }
                        &.decoracao a {
                            .container-texto p img{
                                margin-left 20px;
                            }
                            .container-imagem{
                                background-color: #40443b;
                                img{
                                    filter: grayscale(0);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.container-filtro-categoria-pai{
    width 100%;
    max-width 100%;
    margin-top 50px;
    .container-padrao{
        h1{
            font-family: 'qanelasbold';
            font-size: 16px;
            line-height: 3.69;
            color: #020c15;
        }
        .container-filtro-categoria{
            width 100%;
            margin-top 20px;
            max-width 100%;
            display flex;
            padding-bottom: 5px;
            .container-seletor-pai-titulo{
                width 24%;  
                margin-right: 1%; 
                display flex;
                z-index 10;  
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                .container-seletor-pai{
                    height: fit-content;
                    display: flex;
                    justify-content: center;
                    max-width: 100%;
                    .container-seletor{
                        width: 300px;
                        max-width: 100%;
                        height: fit-content;
                        border-radius: 3px;
                        position relative;
                        .container-selected{
                            width: 100%;
                            height: fit-content;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 11px 32px;
                            cursor: pointer;
                            border-radius: 6px;
                            p{
                                font-family: 'qanelasbold';
                                font-size: 16px;
                                line-height: 1;
                                color: #020c15;
                            }
                            img{
                                width: 15px;
                                height: 13px;
                                transition: all .8s;
                                &.dropdown-ativo{
                                    transform: rotate(-180deg);
                                }
                            }
                        }
                        .container-options-pai{
                            width: 100%;
                            max-height: 0;
                            transition: all .4s;
                            position absolute;
                            overflow hidden;
                            z-index 20;
                            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
                            .container-options{
                                height fit-content;
                                width 100%;
                                position relative;
                                max-height: 300px;
                                overflow-y: scroll;
                                .option{
                                    cursor: pointer;
                                    padding: 0 32px;
                                    height: 44px;
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    font-family: 'qanelasregular';
                                    font-size: 16px;
                                    line-height: 1;
                                    transition all .3s;
                                    color: #020c15;
                                    border-bottom: solid 1px #f4f4f4;
                                    background-color: #ffffff;
                                    input{
                                        margin-right: 15px;
                                        filter: grayscale(1);
                                    }
                                    &:hover{
                                        background-color: #f4f4f4;
                                    }
                                }
                                &::-webkit-scrollbar {
                                    border-radius: 0px;
                                    width: 10px;
                                    margin-left: 3px;
                                }
                                &::-webkit-scrollbar-track {
                                    border-radius: 0px;
                                    background: #ffffff;
                                }
                                &::-webkit-scrollbar-thumb {
                                    border-radius: 0px;
                                    border: solid 3px white;
                                    background-color: #020c15;
                                }
                            }
                            .container-buscar{
                                cursor: pointer;
                                height: 44px;
                                width: 100%;
                                display: flex;
                                align-items: center;
                                bottom: -44px;
                                justify-content: center;
                                transition all .3s;
                                color: #020c15;
                                border-bottom: solid 1px #f4f4f4;
                                background-color: #ffffff;
                                p{
                                    font-family: 'qanelasregular';
                                    font-size: 16px;
                                    line-height: 1;
                                }
                                &:hover{
                                    background-color: #f4f4f4;
                                }
                            }
                            &.dropdown-ativo{
                                max-height: 344px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.container-obras-pai{
    width: 100%;
    max-width 100%;
    margin-top 70px;
    .container-padrao{
        display flex;
        flex-direction: column;
        align-items: center;
        .container-obras{
            display flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            width 100%;
            max-width 100%;
            .container-obra-pai{
                margin-top: 16px;
                width 24%;
                height calc(1244px * .24);
                min-width 240px;
                max-width 100%;
                padding: 6px;
                box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.16);
                min-height: 240px;
                .container-obra{
                    width 100%;
                    height 100%;
                    max-width 100%;
                    display flex;
                    align-items: center;
                    justify-content: center;
                    padding: 30px 0 50px;
                    background-size: cover;
                    .container-tag{
                        position absolute;
                        top: 6px;
                        right 0;
                        z-index 5;
                        opacity 0;
                        transition: all .3s;
                        p{
                            font-family: 'qanelasbold';
                            font-size: 8px;
                            line-height: 1;
                            padding: 7px 12px;
                        }
                        &.obras-de-marcenaria{
                            background-color: #f4f4f4;
                            p{
                                color: #020c15;
                            }
                        }
                        &.obras-de-decoracao{
                            background-color: #40443b;
                            p{
                                color: #f4f4f4;
                            }
                        }
                        &.obras-de-ambientacao{
                            background-color: #c5beb6;
                            p{
                                color: #020c15;
                            }
                        }
                    }
                    .container-texto{
                        width 75%;
                        max-width 100%;
                        width: 85%;
                        opacity 0;
                        display flex;
                        flex-direction: column;
                        z-index 5;
                        transition: all .3s;
                        h1{
                            font-family: 'qanelasmedium';
                            font-size: 18px;
                            line-height: 1.58;
                            text-align: center;
                            color: #f4f4f4;
                            text-transform: uppercase;
                        }
                        p{
                            font-family: 'qanelasregular';
                            font-size: 16px;
                            line-height: 1.39;
                            text-align: center;
                            color: #f4f4f4;
                        }
                    }
                    a{
                        position absolute;
                        bottom 0;
                        left 0;
                        z-index 4;
                        .container-botao{
                            width: 55px;
                            height: 55px;
                            background-color: #020c15;
                            display flex;
                            align-items: center;
                            justify-content: center;
                            img{
                                width 25px;
                            }
                        }
                    }
                    &:before{
                        opacity 0;
                        transition: all .3s;
                    }
                    &:hover{
                        &:before{
                            opacity .3;
                        }
                        .container-tag{
                            opacity 1;
                        }
                        .container-texto{
                            opacity 1;
                        }
                    }
                }
            }
        }
        .container-carregar-mais{
            border: solid 2px #40443b;
            cursor pointer;
            margin: 80px 0;
            transition: all .3s;
            p{
                font-family: 'qanelasbold';
                font-size: 20px;
                line-height: 1.25;
                color: #40443b;
                padding 12px 70px;
                transition: all .3s;
            }
            &:hover{
                background-color: #40443b;
                p{
                    color: #f4f4f4
                }
            }
        }
    }
}

@media(max-width: 1280px){
    .container-obras-pai .container-padrao .container-obras .container-obra-pai{
        height calc((100vw - 36px) * .24);  
    }
}
@media(max-width: 1200px){
    .banner-background .banner-container-pai .banner-container-conteudo-pai .container-padrao2 .banner-titulo{
        h1{
            font-size: 40px;
        }
        p{
            font-size: 22px;
        }
    }
    .container-filtro-pai .container-padrao .container-filtro-obras-pai{
        h1{
            font-size: 18px;
        }
        .container-filtro-obras .container-filtro-obra a .container-texto h1{
            font-size: 28px;
        }
    }
    .container-obras-pai .container-padrao{
        .container-obras .container-obra-pai .container-obra .container-texto{
            h1{
                font-size: 17px;
            }
            p{
                font-size: 15px;
            }
        }
        .container-carregar-mais p{
            font-size: 18px;
        }
    }
}
@media(max-width: 1000px){
    .container-filtro-pai .container-padrao .container-filtro-obras-pai .container-filtro-obras{
        flex-direction: column;
        .container-filtro-obra{
            width: 100%;
            a .container-texto{
                h1{
                    font-size: 22px;
                }
                p{
                    font-size: 10px;
                }
            }
            &:nth-child(n+1){
                margin-top: 10px;
            }
        }
    }
}
@media(max-width: 768px){
    .container-filtro-categoria-pai .container-padrao{
        display flex;
        flex-direction column;
        align-items: center;
        .container-filtro-categoria{
            margin-top 0px;
            flex-direction: column;
            .container-seletor-pai-titulo{
                margin-top 20px;
                margin-right: 0%; 
                width: 100%;
                .container-seletor-pai{
                    width: 100%;
                    .container-seletor{
                        width: 100%;
                        .container-options-pai{
                            position unset;
                        }
                    }
                }
            }
        }
    }
}