.banner-background{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; 
    max-width 100%;
    height 100vh;
    min-height: 800px;
    padding: 1rem;
    .banner-container-pai{
        width 100%;
        max-width 100%;
        height 100%;
        display: flex;
        .banner-container-conteudo-pai{
            width 100%;
            height 100%;
            max-width 100%;
            z-index: 10;
            border: solid 2px #c5beb6;
            display flex;
            align-items: flex-end;
            .container-padrao2{
                display flex;
                flex-direction: column;
                align-items: center;
                z-index 10;
                margin-bottom: -1rem;
                .banner-titulo{
                    width 500px;
                    max-width 100%;
                    h1{
                        text-transform: uppercase;      
                        color: #c5beb6;
                        font-family: 'vogamedium';
                        font-size: 52px;
                        text-align: center;
                        margin-bottom: 16px;
                    }
                    p{
                        font-family: 'qanelasregular';
                        font-size: 26px;
                        font-weight: 500;
                        text-align: center;
                        color: #c5beb6;
                        margin-top 25px;
                    }
                }
                .banner-textos-pai{
                    width 100%;
                    max-width 100%;
                    display flex;
                    margin-top 60px;
                    .container-texto{
                        width 55%;
                        max-width 100%;
                        padding-bottom: 60px;
                        display: flex;
                        align-items: center;
                        .container-bloco-borda{
                            height 100%;
                            width: 184px;
                            border solid 2px #c5beb6;
                            border-width: 2px 0 2px 2px;
                            min-width: 100px;
                        }
                        .container-conteudo{
                            margin-left: -60px;
                            position relative;
                            overflow hidden;
                            height 100%;
                            padding: 50px 0;
                            .container-taxonomia{
                                border: solid 1px #c5beb6;
                                padding: 8px 22px;
                                width fit-content;
                                height fit-content;
                                p{
                                    font-family: 'qanelasbold';
                                    font-size: 12px;
                                    line-height: 1.25;
                                    color: #c5beb6;
                                    margin 0;
                                    text-transform: uppercase;
                                }
                            }
                            h1{
                                text-transform: uppercase;      
                                color: #c5beb6;
                                font-family: 'vogamedium';
                                font-size: 52px;
                                text-align: left;
                                margin-top: 30px;
                            }
                            p{
                                font-family: 'qanelasmedium';
                                font-size: 18px;
                                line-height: 1.78;
                                color: #c5beb6;
                                margin-top: 25px;
                            }
                            &:after{
                                content: "";
                                position: absolute;
                                top: calc(100% - 25px);
                                left: 60px;
                                height: 1000%;
                                width: 2px;
                                background-color: #c5beb6;
                            }
                            &:before{
                                content: "";
                                position: absolute;
                                bottom: calc(100% - 25px);
                                left: 60px;
                                height: 1000%;
                                width: 2px;
                                border-left: solid 2px #c5beb6;
                            }
                        }
                    }
                    .container-imagem{
                        width 45%;
                        max-width 100%;
                        max-height: 530px;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        img{
                            width 100%;
                        }
                    }
                }
            }
        }
    }
}
.container-galeria-pai{
    width: 100%;
    max-width 100%;
    margin-top: 80px;
    .container-padrao3 h1{
        font-family: 'qanelasregular';
        font-size: 32px;
        line-height: 1;
        color: #020c15;
    }
    .container-galeria{
        width 100%;
        max-width 100%;
        margin-top: 32px;
        max-height: 400px;
        height: 400px;
        .slick-list{ 
            height 100%;
            .slick-track{
                height 100%;
            }
        }
        .container-imagem{
            height 100%;
            padding: 0 2px;
            img{
                height 100%;
            }
        }
        .slick-dots{
            width 100%;
            max-width 100%;
            display: flex;
            justify-content: center;
            margin-top 25px;
            li{
                width: 51px;
                height: 6px;
                background-color: #b1b1b1;
                padding: 0 5px;
                transition: all .3s;
                &.slick-active{
                    background-color: #020c15;
                }
                button{
                    &::before{
                        display none;
                    }
                }
            }
        }
    }
}

.container-obras-similares-pai{
    width 100%;
    max-width 100%;
    margin-top 150px;
    .container-padrao{
        display flex;
        align-items: center;
        flex-direction: column;
        h1{
            font-family:'qanelasbold';
            font-size: 32px;
            line-height: 1;
            color: #020c15;
        }
        .container-obra-similar-vazio{
            width fit-content;
            max-width 100%;
            font-family:'qanelasregular';
            font-size: 16px;
            line-height: 1;
            color: #020c15;
            margin-top 30px;
        }
        .container-obras-similares{
            width 100%;
            max-width 100%;
            margin-top 50px;
            .container-obra-similar-pai{
                padding: 0 10px;
                a{
                    .container-obra-similar{
                        background: linear-gradient(0deg,#40443b 86%,#fff 86%);
                        display: flex;
                        align-items: center;
                        min-height: 160px;
                        .container-texto{
                            width: 60%;
                            padding-left: 20px;
                            padding-top: 20px;
                            h1{
                                font-family: 'qanelasextrabold';
                                font-size: 16px;
                                line-height: 1.25;
                                color: #c5beb6;
                                text-transform: uppercase;
                            }
                        }
                        .container-imagem{
                            width: 40%;
                            display: flex;
                            height: 100%;
                            justify-content: flex-end;
                            flex-direction: column;
                            img{
                                width 100%;
                            }
                        }
                    }
                }
            }
            .slick-dots{
                width 100%;
                max-width 100%;
                display: flex;
                justify-content: center;
                margin-top 25px;
                li{
                    width: 51px;
                    height: 6px;
                    background-color: #b1b1b1;
                    padding: 0 5px;
                    transition: all .3s;
                    &.slick-active{
                        background-color: #020c15;
                    }
                    button{
                        &::before{
                            display none;
                        }
                    }
                }
            }
        }
    }
}
.formulario-obra{
    width: 100%;
    padding 100px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    margin: 123px 0; 
    .container-padrao2{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 2;
        height: 100%;
        .informacoes-pai{
            display: flex;
            align-items: center;
            height: 100%;
            max-width 100%;
            width 45%;
            .informacoes-filho{
                width: 400px;
                max-width 100%;
                img{
                    height: 204px;
                }
                p{
                    font-family: 'qanelasbold';
                    font-size: 22px;
                    line-height: 38px;
                    color: $preto_02;
                    width: 394px;
                    margin-top: 55px;
                }
            }
        }
        .banner-formulario{
            width: 45%;
            max-width 100%;
            h1 {
                font-family: 'qanelasbold';
                font-size: 42px;
                text-transform: uppercase;
                line-height: 62px;
                color: $preto_02;
                margin-bottom: 15px;
            }
            p{
                font-family: 'qanelasregular';
                font-size: 24px;
                line-height: 29px;
                color: $preto_02;
                margin-bottom: 41px;
            }
            form {
                display: block;
                input {
                    height: 49px;
                    width: 100%;
                    border: solid 2px #020c15;
                    color: #020c15;
                    background-color: transparent;
                    font-family: 'qanelasregular';
                    font-size: 20px;
                    padding: 13px;
                    margin-bottom: 10px;
                    &::placeholder{
                        color: #9b9b9b;
                        font-family: 'qanelasregular';
                        font-size: 20px;
                    }
                }
                textarea {
                    height: 94px;
                    width: 100%;
                    border: solid 2px #020c15;
                    color: #020c15;
                    background-color: transparent;
                    font-family: 'qanelasregular';
                    font-size: 20px;
                    padding: 13px;
                    margin-bottom: 10px;
                    &::placeholder{
                        color: #9b9b9b;
                        font-family: 'qanelasregular';
                        font-size: 20px;
                    }
                }
                button {
                    text-transform: uppercase;
                    background-color: transparent;
                    border: solid 2px #020c15;
                    padding: 12px;
                    height: 49px;
                    width: 306px;
                    color: #40443b;
                    font-family: 'qanelasbold';
                    font-size: 20px;
                    line-height: 25px;
                    transition: all .3s;
                    &:hover{
                        background-color #020c15;
                        color: #fafafa;
                    }
                }
                span{
                    font-family: 'qanelasregular';
                    font-size: 16px;
                    margin-top: 10px;
                    &.error{
                        color darkred;
                    }
                    &.success{
                        color green;
                    }
                }
            }
        }
    }
}
@media(max-width: 1400px){
    .banner-background .banner-container-pai .banner-container-conteudo-pai .container-padrao2{
        .banner-titulo{
            h1{
                font-size: 40px;
            }
            p{
                font-size: 20px;
            }
        }
        .banner-textos-pai{
            margin-top: 40px;
            .container-texto .container-conteudo{
                h1{
                    font-size: 40px;
                }
                p{
                    font-size: 16px;
                }
            }
        }
    }
    .container-galeria-pai .container-padrao3 h1{
        font-size: 28px;
    }
    .container-caracteristicas-pai .container-padrao2 h1{
        font-size: 28px;
    }
    .container-obras-similares-pai .container-padrao{
        h1{
            font-size: 28px;
        }
        .container-obras-similares .container-obra-similar-pai a .container-obra-similar .container-texto h1{
            font-size: 15px;
        }
    }
    .formulario-obra .container-padrao2{
        .informacoes-pai .informacoes-filho p{
            font-size: 20px;
        }
        .banner-formulario{
            h1 {
                font-size: 30px;
            }
            p{
                font-size: 22px;
            }
            form {
                input {
                    font-size: 18px;
                    &::placeholder{
                        font-size: 18px;
                    }
                }
                textarea {
                    font-size: 18px;
                    &::placeholder{
                        font-size: 18px;
                    }
                }
                button {
                    font-size: 18px;
                }
            }
        }
    }
}
@media(max-width 768px){
    .banner-background{
        height fit-content;
        min-height: fit-content;
        .banner-container-pai .banner-container-conteudo-pai{
            .container-padrao2{
                padding-top: 136px;
                .banner-titulo{
                    h1{
                        font-size: 32px;
                    }
                    p{
                        font-size: 18px;
                    }
                }
                .banner-textos-pai{
                    flex-direction: column-reverse;
                    align-items: center;
                    .container-texto{
                        width 100%;
                        margin-top 50px;
                        align-items: normal;
                        .container-bloco-borda{
                            min-height 100%;
                            height auto;
                        }
                        .container-conteudo{
                            .container-taxonomia{
                                padding: 5px 16px;
                                p{
                                    font-size: 10px;
                                }
                            }
                            h1{
                                font-size: 32px;
                            }
                        }
                    }
                    .container-imagem{
                        width 200px;
                    }
                }
            }
        }
    }
    .container-galeria-pai{
        .container-padrao3 h1{
            font-size: 22px;
        }
        .container-galeria{
            height: 250px;
            .slick-dots li{
                width: 45px;
            }
        }
    }
    .container-caracteristicas-pai .container-padrao2{
        h1{
            font-size: 22px;
        }
        .container-caracteristicas .container-linha{
            .container-titulo, .container-descricao{
                width 50%;
                max-width 100%;
                padding: 12px 8px 12px 20px
                p{
                    font-size: 16px;
                }
            }
        }
    }
    .formulario-obra{
        .container-padrao2{
            flex-direction: column;
            .informacoes-pai{
                width 350px;
                .informacoes-filho{
                    width: auto;
                    img{
                        height: auto;
                        width 100%;
                    }
                    p{
                        font-size: 18px;
                    }
                }
            }
            .banner-formulario{
                width: 350px;
                margin-top 50px;
                h1 {
                    font-size: 24px;
                }
                p{
                    font-size: 20px;
                }
                form {
                    input {
                        font-size: 16px;
                        &::placeholder{
                            font-size: 16px;
                        }
                    }
                    textarea {
                        font-size: 16px;
                        &::placeholder{
                            font-size: 16px;
                        }
                    }
                    button {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
@media(max-width: 700px){
    .container-obras-similares-pai .container-padrao .container-obras-similares .container-obra-similar-pai{
        padding: 0;
    }
}