@import 'vars.styl';

.banner-background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 0;
    padding 1rem;
    .banner-container-pai{
        width: 100%;
        height 100%;
        position: relative;
        z-index: 2;
        .banner-container-conteudo-pai{
            height: 100%;
            position: relative;
            z-index: 2;  
            border: 2px solid $cinza_b6;
            display flex;
            align-items: center;
            .container-padrao2{
                display flex;
                justify-content: center;
                .banner-titulo-pai{
                    flex-direction: column;
                    overflow: hidden;
                    .categoria{
                        width: 100%
                        font-family: 'qanelasbold';
                        font-size: 12px;
                        margin-bottom: 54px;
                        p{
                            text-transform: uppercase;
                            color: $cinza_b6;
                            text-align: center;
                            width: 118px;
                            height: 31px;
                            border: 2px solid $cinza_b6;
                            padding: 5px;
                        }
                    }
                    .banner-titulo-filho{
                        width: 100%;
                        border solid 2px #c5beb6;
                        border-width: 0 2px 2px 2px;
                        .textos{
                            width 100%;
                            padding: 0 50px 50px;
                            display flex;
                            flex-direction: column;
                            align-items: center;
                            h1{
                                text-transform: uppercase;
                                color: $cinza_b6;
                                font-family: 'vogamedium';
                                font-size: 52px;
                                text-align: center;
                                margin-bottom: 16px;
                                height 106px;
                                margin-top: -53px;
                                position relative;
                                display flex;
                                align-items: center;
                                padding: 0 20px;
                                &:after{
                                    content: "";
                                    position: absolute;
                                    top: 50%;
                                    left 100%;
                                    height: 3px;
                                    width: 1000%;
                                    border-top: solid 2px currentColor;
                                }
                                &:before{
                                    content: "";
                                    position: absolute;
                                    top: 50%;
                                    right: 100%;
                                    height: 3px;
                                    width: 1000%;
                                    border-top: solid 2px currentColor;
                                }
                            }
                            p{
                                font-family: 'qanelasmedium';
                                font-size: 20px;
                                color: $cinza_b6;
                                text-align: center;
                                line-height: 31px;
                            }
                        }                        
                    }
                }
            }       
        }
    }
}

.obra-sobre{
    height: 432px;
    width: 100%;
    .container-padrao{
        display: flex;
        align-items: center;
        height: 100%;
        padding-top: 5%;
        .obra-conteudo{
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            .texto{
                p{
                    font-family: 'qanelasmedium';
                    font-size: 18px;
                    line-height: 32px;
                    text-align: left;
                    color: $preto_02;
                    width: 536px;
                }    
            }
            .filtros{
                margin-left: 20%;
                display: block;
                li{
                    margin-bottom: 25px;
                    list-style-type: none;
                    a{
                        font-family: 'qanelasmedium';
                        font-size: 18px;
                        line-height: 32px;
                        text-align: left;
                        color: $preto_02;
                        width: 113px;
                        margin-bottom: 10px;
                        pointer-events: none !important;
                    }
                    ul{
                        list-style: none;
                        display: flex;
                        li{
                            margin: 15px 15px 0 0;
                            a{
                                font-family: 'qanelasmedium';
                                font-size: 14px;
                                line-height: 32px;
                                text-align: left;
                                color: $cinza_90;
                                width: 100px;
                                border:solid 1px $cinza_90;
                                border-radius: 3px;
                                text-align: center;
                                padding: 5px 20px;
                                pointer-events: none !important;
                            }
                        }

                    }
                }
            }
        }
    }
}   

.container-galeria-pai{
    width: 100%;
    max-width 100%;
    margin-top: 80px;
    .container-padrao3 h1{
        font-family: 'qanelasregular';
        font-size: 32px;
        line-height: 1;
        color: #020c15;
    }
    .container-galeria{
        width 100%;
        max-width 100%;
        margin-top: 32px;
        max-height: 400px;
        height: 400px;
        .slick-list{ 
            height 100%;
            .slick-track{
                height 100%;
            }
        }
        .container-imagem{
            height 100%;
            padding: 0 2px;
            img{
                height 100%;
            }
        }
        .slick-dots{
            width 100%;
            max-width 100%;
            display: flex;
            justify-content: center;
            margin-top 25px;
            li{
                width: 51px;
                height: 6px;
                background-color: #b1b1b1;
                padding: 0 5px;
                transition: all .3s;
                &.slick-active{
                    background-color: #020c15;
                }
                button{
                    &::before{
                        display none;
                    }
                }
            }
        }
    }
}

.container-obras-similares-pai{
    width 100%;
    max-width 100%;
    margin-top 150px;
    .container-padrao{
        display flex;
        align-items: center;
        flex-direction: column;
        h1{
            font-family: 'qanelasregular';
            font-size: 32px;
            line-height: 32px;
            color: #020c15;
            text-align: left;
        }
        .titulo{
            width: 80%;
            margin-left: 15%;
        }
        .container-obras-similares{
            width 100%;
            max-width 100%;
            margin-top 50px;
            .container-obra-similar-pai{
                padding: 0 10px;
                a{
                    .container-obra-similar{
                        display: flex;
                        align-items: center;
                        min-height: 160px;
                        .container-texto{
                            width: 60%;
                            padding-left: 20px;
                            padding-top: 20px;
                            h1{
                                font-family: 'qanelasextrabold';
                                font-size: 16px;
                                line-height: 1.25;
                            }
                        }
                        .container-imagem{
                            width: 40%;
                            display: flex;
                            height: 100%;
                            justify-content: flex-end;
                            flex-direction: column;
                            img{
                                width 100%;
                            }
                        }
                    }
                }
                .card-verde{
                    background: linear-gradient(0deg,#40443b 86%,#fff 86%);
                    h1{
                        color: #c5beb6;
                    }
                }
                .carde-cinza{
                    background: $cinza_f4;
                    h1{
                        color: #202931;
                    }
                }
            }
            .slick-dots{
                width 100%;
                max-width 100%;
                display: flex;
                justify-content: center;
                margin-top 25px;
                li{
                    width: 51px;
                    height: 6px;
                    background-color: #b1b1b1;
                    padding: 0 5px;
                    transition: all .3s;
                    &.slick-active{
                        background-color: #020c15;
                    }
                    button{
                        &::before{
                            display none;
                        }
                    }
                }
            }
        }
    }
}

.designer{
    width: 100%;
    height: 308px;
    background-color: $cinza_b6;
    margin-top: 178px;
    margin-bottom: 127px;
    .container-padrao{
        padding: 48px 0 0 0;
        display: flex;
        position: relative;
        height: 100%;
        .textos{
            .cabecalho{
                display: flex;
                justify-content: space-between;
                .texto-designer{
                    margin-right: -200px;
                    h1 {
                        font-family: 'qanelasbold';
                        font-size: 32px;
                        line-height: 38px;
                        color: $preto_02;
                    }
                    p{
                        font-family: 'qanelasregular';
                        font-size: 18px;
                        line-height: 38px;
                        color: $preto_02;
                    }
                }
                .redes-sociais{
                    display: flex;
                   
                    img{
                        margin: 15px;
                        max-height: 20px;
                        max-width: 20px;
                    }
                }
            }
            .texto-designer{
                p{
                    font-family: 'qanelasmedium';
                    font-size: 18px;
                    line-height: 36px;
                    color: $preto_02;
                    width: 636px;
                }
            }
        }
        .imagem{
            position: absolute;
            right: 0;
            bottom: 0;
            margin-right: 15%;
            img{
                max-height: 349px;
                max-width: 326px;
            }
        }
    }
}

.formulario-obra{
    width: 100%;
    padding 100px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    margin: 123px 0; 
    .container-padrao2{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 2;
        height: 100%;
        .informacoes-pai{
            display: flex;
            align-items: center;
            height: 100%;
            max-width 100%;
            width 45%;
            .informacoes-filho{
                width: 400px;
                max-width 100%;
                img{
                    height: 204px;
                }
                p{
                    font-family: 'qanelasbold';
                    font-size: 22px;
                    line-height: 38px;
                    color: $preto_02;
                    width: 394px;
                    margin-top: 55px;
                }
            }
        }
        .banner-formulario{
            width: 45%;
            max-width 100%;
            h1 {
                font-family: 'qanelasbold';
                font-size: 42px;
                text-transform: uppercase;
                line-height: 62px;
                color: $preto_02;
                margin-bottom: 15px;
            }
            p{
                font-family: 'qanelasregular';
                font-size: 24px;
                line-height: 29px;
                color: $preto_02;
                margin-bottom: 41px;
            }
            form {
                display: block;
                input {
                    height: 49px;
                    width: 100%;
                    border: solid 2px #020c15;
                    color: #020c15;
                    background-color: transparent;
                    font-family: 'qanelasregular';
                    font-size: 20px;
                    padding: 13px;
                    margin-bottom: 10px;
                    &::placeholder{
                        color: #9b9b9b;
                        font-family: 'qanelasregular';
                        font-size: 20px;
                    }
                }
                textarea {
                    height: 94px;
                    width: 100%;
                    border: solid 2px #020c15;
                    color: #020c15;
                    background-color: transparent;
                    font-family: 'qanelasregular';
                    font-size: 20px;
                    padding: 13px;
                    margin-bottom: 10px;
                    &::placeholder{
                        color: #9b9b9b;
                        font-family: 'qanelasregular';
                        font-size: 20px;
                    }
                }
                button {
                    text-transform: uppercase;
                    background-color: transparent;
                    border: solid 2px #020c15;
                    padding: 12px;
                    height: 49px;
                    width: 306px;
                    color: #40443b;
                    font-family: 'qanelasbold';
                    font-size: 20px;
                    line-height: 25px;
                    transition: all .3s;
                    &:hover{
                        background-color #020c15;
                        color: #fafafa;
                    }
                }
                span{
                    font-family: 'qanelasregular';
                    font-size: 16px;
                    margin-top: 10px;
                    &.error{
                        color darkred;
                    }
                    &.success{
                        color green;
                    }
                }
            }
        }
    }
}

.obras-similares{
    min-height: 200px;
    width: 100%;
    margin-top: 12%;
    .container-padrao{
        height: 100%;
        .cabecalho{
            width: 100%;
            display: flex;
            justify-content: center;
            h1{
                font-family: 'qanelasbold';
                font-size: 32px;
                line-height: 1;
                letter-spacing: normal;
                text-align: center;
                text-transform: uppercase;
            }
        }
        .container-cards-obras{
            max-width 100%;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .container-obra-similar-vazio{
                width fit-content;
                max-width 100%;
                font-family:'qanelasregular';
                font-size: 16px;
                line-height: 1;
                color: #020c15;
                margin-top 30px;
            }
            .card-obra{
                margin: 16px;
                padding: 6px;
                height: 256px;
                width: 256px;
                box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.16);
                background-color: $branco;
                position: relative;
                .camada-preta{
                    &::before{
                        opacity: 0.1;
                    }
                }
                .imagem {
                    height: 246px;
                    width: 246px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: relative;
                    a {
                        cursor: pointer;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        z-index: 99;

                        .botao {
                            width: 55px;
                            height: 55px;
                            background-color: $preto_02;

                            img {
                                width: 25px;
                                height: 25px;
                            }
                        }
                    }
                    .card-conteudo {
                        z-index: 5;
                        position: relative;
                        height: 100%;
                        width: 100%;
                        padding: 6px;
                        opacity: 0;
                        transition: all .3s;

                        .etiqueta {
                            position: absolute;
                            z-index: 2;
                            right: 0;
                            margin-top: 5px;
                            width: 60px;
                            height: 20px;

                            p {
                                font-family: 'qanelasbold';
                                color: $cinza_f4;
                                font-size: 8px;
                                width: 100%;
                                text-align: center;

                            }
                        }

                        .etiqueta-verde {
                            background-color: $verde_3b;
                        }

                        .etiqueta-cinza-claro {
                            background-color: $cinza_f4;
                        }

                        .etiqueta-cinza {
                            background-color: $cinza_b6;
                        }

                        .textos {
                            padding-top: 20%;
                            h1 {
                                font-size: 16px;
                                font-family: 'qanelasmedium';
                                padding: 0 10%;
                                line-height: 1.50;
                                color: $cinza_f4;
                                text-align: center;
                            }

                            p {
                                padding: 0 10%;
                                height: 121px;
                                font-size: 12px;
                                font-family: 'qanelasregular';
                                line-height: 1.30;
                                color: $cinza_f4;
                                text-align: center;
                            }
                        }
                    }
                }
                &:hover{
                    .camada-preta{
                        &::before{
                            opacity: 0.4;
                        }
                    }
                    .card-conteudo {
                        opacity: 1.0;
                    }
                }
            }
        }
    }
}

@media(max-width: 1400px){
    .banner-background .banner-container-pai .banner-container-conteudo-pai .container-padrao2{
        .banner-titulo{
            h1{
                font-size: 40px;
                width: 100%;
            }
            p{
                font-size: 20px;
                width: 100%;
            }
        }
        .banner-textos-pai{
            margin-top: 40px;
            .container-texto .container-conteudo{
                h1{
                    font-size: 40px;
                }
                p{
                    font-size: 16px;
                }
            }
        }
    }
    .container-galeria-pai .container-padrao3 h1{
        font-size: 28px;
    }
    .container-obras-similares-pai .container-padrao{
        h1{
            font-size: 28px;
        }
        .container-obras-similares .container-obra-similar-pai a .container-obra-similar .container-texto h1{
            font-size: 15px;
        }
    }
    .formulario-obra .container-padrao2{
        .informacoes-pai .informacoes-filho p{
            font-size: 20px;
        }
        .banner-formulario{
            h1 {
                font-size: 30px;
            }
            p{
                font-size: 22px;
            }
            form {
                input {
                    font-size: 18px;
                    &::placeholder{
                        font-size: 18px;
                    }
                }
                textarea {
                    font-size: 18px;
                    &::placeholder{
                        font-size: 18px;
                    }
                }
                button {
                    font-size: 18px;
                    width: 100%;
                }
            }
        }
    }
}

@media(max-width: 1200px){
    .obras-similares{
        height: 620px;    
    }
}

@media(max-width: 1135px){
    .designer{
        margin: 10% 0;
        .container-padrao{
            padding: 20px 0 0 0;
            .textos{
                .cabecalho{
                    justify-content: start;
                    .texto-designer{
                        width: 40%;
                        margin-right: 0px;
                        padding-left: 20px;
                        h1 {                            
                            font-size: 30px;
                            line-height: 34px;                            
                        }
                        p{
                            font-size: 18px;
                            line-height: 34px;
                        }
                    }
                    .redes-sociais{
                        img{
                            max-height: 20px;
                            max-width: 20px;
                            min-height: 20px;
                            min-width: 20px;
                        }
                    }
                }
                .texto-designer{
                    padding-left: 20px;
                    p{                        
                        font-size: 18px;
                        line-height: 34px;                        
                        width: 60%;
                    }
                }
            }
            .imagem{
                margin-right: 5%;
                img{
                    max-height: 299px;
                    max-width: 276px;
                }
            }
        }
    }

    .obras-similares{
        height: 650px;
    }
}

@media(max-width: 978px){
    .obra-sobre{    
        height: 672px;
        .container-padrao{
            .obra-conteudo{
                .texto{
                    p{                        
                        font-size: 16px;
                        line-height: 30px;                       
                        width: 100%;
                    }    
                }
                .filtros{
                    margin: 5% 0;
                    li{
                        margin-bottom: 25px;
                        list-style-type: none;
                        a{
                            font-family: 'qanelasmedium';
                            font-size: 16px;
                            line-height: 30px;
                            
                            
                            width: 113px;
                            margin-bottom: 10px;
                        }
                        ul{
                            list-style: none;
                            display: flex;
                            li{
                                margin: 15px 15px 0 0;
                                a{
                                    font-family: 'qanelasmedium';
                                    font-size: 14px;
                                    line-height: 32px;
                                    text-align: left;
                                    color: $cinza_90;
                                    width: 100px;
                                    border:solid 1px $cinza_90;
                                    border-radius: 3px;
                                    text-align: center;
                                    padding: 5px 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }   
    
}

@media(max-width: 785px){

    .banner-background{
        height fit-content;
        min-height: fit-content;
        .banner-container-pai .banner-container-conteudo-pai{
            .container-padrao2{
                padding-top: 136px;
                .banner-titulo{
                    h1{
                        font-size: 32px;
                    }
                    p{
                        font-size: 18px;
                    }
                }
                .banner-textos-pai{
                    flex-direction: column-reverse;
                    align-items: center;
                    .container-texto{
                        width 100%;
                        margin-top 50px;
                        align-items: normal;
                        .container-bloco-borda{
                            min-height 100%;
                            height auto;
                        }
                        .container-conteudo{
                            .container-taxonomia{
                                padding: 5px 16px;
                                p{
                                    font-size: 10px;
                                }
                            }
                            h1{
                                font-size: 32px;
                            }
                        }
                    }
                    .container-imagem{
                        width 200px;
                    }
                }
            }
        }
    }

    .container-galeria-pai{
        .container-padrao3 h1{
            font-size: 22px;
        }
        .container-galeria{
            height: 250px;
            .slick-dots li{
                width: 45px;
            }
        }
    }
    
    .formulario-obra{
        .container-padrao2{
            flex-direction: column;
            .informacoes-pai{
                width 350px;
                .informacoes-filho{
                    width: auto;
                    img{
                        height: auto;
                        width 100%;
                    }
                    p{
                        font-size: 18px;
                        width: 100%;
                    }
                }
            }
            .banner-formulario{
                width: 350px;
                margin-top 50px;
                h1 {
                    font-size: 24px;
                }
                p{
                    font-size: 20px;
                }
                form {
                    input {
                        font-size: 16px;
                        &::placeholder{
                            font-size: 16px;
                        }
                    }
                    textarea {
                        font-size: 16px;
                        &::placeholder{
                            font-size: 16px;
                        }
                    }
                    button {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .designer{
        .container-padrao{
            .textos{
                .cabecalho{
                    .texto-designer{
                        h1 {                            
                            font-size: 26px;
                            line-height: 30px;                            
                        }
                        p{
                            font-size: 18px;
                            line-height: 30px;
                        }
                    }
                    .redes-sociais{
                        img{
                            max-height: 20px;
                            max-width: 20px;
                            min-height: 20px;
                            min-width: 20px;
                        }
                    }
                }
                .texto-designer{
                    padding-left: 20px;
                    p{                        
                        font-size: 14px;
                        line-height: 30px;
                        width: 60%;
                    }
                }
            }
            .imagem{
                margin-right: 0%;
                img{
                    max-height: 299px;
                    max-width: 276px;
                }
            }
        }
    }

    .obras-similares{
        height: 500px;
        margin-top: 20%;
        margin-bottom: 10%;
        .container-padrao{
            padding: 0;
            .cabecalho{
                margin-bottom: 30px;
                h1{
                    font-size: 22px;
                }
            }
            .container-cards-obras {
                height: 266px;
                flex-wrap: wrap;
                .card-obra {
                    padding: 6px;
                    height: 216px;
                    width: 216px;
                    margin-right: 16px;
                    margin-bottom: 16px;
                    .imagem {
                        height: 206px;
                        width: 206px;
                        a {
                            .botao {
                                width: 45px;
                                height: 45px;
                                img {
                                    width: 25px;
                                    height: 25px;
                                }
                            }
                        }
                        .card-conteudo {
                            .etiqueta {
                                margin-top: 5px;
                                width: 50px;
                                height: 15px;
                            }
                            .textos {
                                h1 {
                                    font-size: 14px;
                                    padding: 0;                               
                                }

                                p {
                                    height: 91px;
                                    font-size: 12px;
                                }
                            }
                        }
                    }            
                    
                }
            }
        }
    }
    
}

@media(max-width: 700px){
    .container-obras-similares-pai .container-padrao .container-obras-similares .container-obra-similar-pai{
        padding: 0;
    }
}

@media(max-width: 667px){
    .designer{
        height: 608px;
        .container-padrao{
            flex-wrap: wrap-reverse;
            .textos{
                .cabecalho{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    .texto-designer{
                        width: 100%;
                        h1 {                            
                            font-size: 26px;
                            line-height: 30px;                       
                        }
                        p{
                            font-size: 18px;
                            line-height: 30px;
                            width: 100%;
                        }
                    }
                    .redes-sociais{
                        img{
                            max-height: 20px;
                            max-width: 20px;
                            min-height: 20px;
                            min-width: 20px;
                        }
                    }
                }
                .texto-designer{
                    padding-left: 20px;
                    p{                        
                        font-size: 14px;
                        line-height: 30px;
                        width: 60%;
                        width: 100%;
                    }
                }
            }
            .imagem{
                margin-right: 0%;
                position: relative;
                display: flex;
                width: 100%;
                justify-content: center;
                img{
                    max-height: 299px;
                    max-width: 276px;
                }
            }
        }
    }
}

@media(max-width: 500px){
    .banner-background {
        .banner-container-pai{
            .banner-container-conteudo-pai{
                padding-top: 140px;
                .container-padrao2{
                    .banner-titulo-pai{
                        height: 100vh;
                        .banner-titulo-filho{
                            .categoria{
                                font-size: 12px;
                                p{                                    
                                    width: 118px;
                                    height: 26px;                                   
                                    padding: 5px;
                                    margin-bottom: 54px;
                                }
                            }
                            h1{                               
                                font-size: 42px;
                                text-align: center;
                                margin-bottom: 16px;
                            }
                            .textos{                        
                                width: 100%;
                                p{                                    
                                    font-size: 18px;                                    
                                    line-height: 31px;
                                }
                            }                        
                        }
                    }
                }       
            }
        }
    }

    .obras-similares{
        height: 1100px;
    }
}