@import 'vars.styl';

.banner-background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 0;
    padding 1rem;
    .banner-container-pai{
        width: 100%;
        height 100%;
        position: relative;
        z-index: 2;
        .banner-container-conteudo-pai{
            height: 100%;
            position: relative;
            z-index: 2;  
            border-left: 2px solid $cinza_b6;
            border-right: 2px solid $cinza_b6;
            border-top: 2px solid $cinza_b6;
            padding-top: 140px;
            .container-padrao2{
                .banner-titulo-pai{
                    margin-bottom: 8%;
                    .banner-titulo-filho{
                        h1{
                            text-transform: uppercase;
                            color: $cinza_b6;
                            font-family: 'vogamedium';
                            font-size: 52px;
                            text-align: center;
                            margin-bottom: 131px;
                        }
                        .textos{
                            height: 281px;
                            width: 581px;
                            p{
                                font-family: 'qanelasmedium';
                                font-size: 20px;
                                color: $cinza_b6;
                                text-align: center;
                                line-height: 31px;
                            }
                            .bold{
                                p{
                                    font-family: 'qanelasbold';
                                    font-size: 20px;
                                    color: $cinza_b6;
                                    text-align: center;
                                    line-height: 31px;
                                }
                                
                            } 
                        }                        
                    }
                }
            }       
        }
    }
}

.container-map-pai{
    width: 100%;
    height: 600px;
    padding: 0 1rem;
    margin-top -62px;
    .container-total{
        overflow hidden;
        padding: 0 35px;
        .container-padrao{
            height: 500px;
            z-index: 2;
            box-shadow: 0 3px 12px 0 rgba(0, 0, 0, .16);
            padding: 10px;
            background-color: #fff;
            position: relative;
            iframe{
                height: 100%;
                width: 100%;
                position: relative;
                z-index: 99;
            }
            &::before{
                content: "";
                position: absolute;
                margin-right: 20px;
                margin-top: 34px;
                right: 100%;
                height: 2px;
                width: 100%;
                border-top: solid 2px #c5beb6;    
            }
            &::after {
                content: "";
                position: absolute;
                margin-left: 20px;
                margin-top: 45px;
                left: 100%;
                top: 0;
                height: 2px;
                width: 100%;
                border-top: solid 2px #c5beb6;
            }
        }
    }    
}

.sobre-nos{
    width: 100%;
    height: 574px;
    .container-padrao{
        height: 474px;
        display: flex;
        flex-wrap: wrap;
        .card-sobre-pai{
            height: 100%;
            width: 25%;
            .card-sobre-imagem{
                height: 100%;
                width: 100%;
                padding: 0 !important;
                position: relative;
                z-index: 0;
                opacity: .90;
                cursor: pointer;
                overflow hidden;
                .card-sobre-filho{
                    height: 100%;    
                    width: 100%; 
                    position: relative;
                    background: linear-gradient(0deg, rgba(0,0,0,0.76234243697479) 9%, rgba(255,255,255,0) 79%);
                    img{
                        position absolute;
                        width: 100%;
                        height 100%;
                        object-fit: cover;
                        z-index -1;
                        transition: all .3s;
                    }
                }
                .textos {
                    z-index: 2;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    margin-bottom: 150px;
                    .titulo {
                        p {
                            text-transform: uppercase;
                            font-family: 'qanelasbold';
                            font-size: 20px;
                            text-align: center;
                            color: $cinza_f4;
                        } 
                    }
                    .texto {
                        opacity: 0;
                        transition: all 0.3s; 
                        p {
                            font-family: 'qanelasmedium';
                            font-size: 18px;
                            text-align: center;
                            line-height: 27px;
                            color: $cinza_f4;
                        }
                    }
                }
            }
            &:hover {
                .card-sobre-filho img{
                    transform: scale(1.2);
                }
                .textos {
                    .texto {                        
                        opacity: 1.0;
                    }
                }
            }
        }
    }
}

.obra-primeiro{
   .banner-obras{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        .banner-obras-conteudo{
            width: 1280px;
            height: 438px;
            padding: 0 0 0 40px;
            .obras-main{
                width: 100%;
                height: 100%;
                .fundo-cinza{
                    background-color: $cinza_b6;
                }
                .fundo-cinza-claro{
                    background-color: $cinza_f4;
                }
                .fundo-verde{
                    background-color: $verde_3b;
                }
                .fundo_turquesa {
                    background-color: $turquesa;
                }
                .obras-carrossel{
                    width: 100%;
                    height: 100%;
                    .obras-carrossel-conteudo{
                        width: 100%;
                        height: 100%;
                        position: relative;
                        display: flex;
                        .bloco-textos{
                            height: fit-content;
                            width: fit-content;
                            z-index: 2;
                            position: absolute;
                            top: 0;
                            right: 0;
                            padding: 28px 0;
                            margin-right: 10%;
                            h1{
                                font-family: 'qanelasextrabold';
                                font-size: 82px;
                                width: 400px;
                            }
                            p{
                                font-family: 'qanelasmedium';
                                font-size: 18px;
                                line-height: 30px;
                                width: 100%;
                                text-align: left;
                                margin-bottom: 10px;
                            }
                            a{
                                .botao-preto{
                                    width: 306px;
                                    height: 49px;
                                    border: solid 2px $preto_02;
                                    background-color: transparent;
                                    padding: 10px;
                                    font-family: 'qanelasbold';
                                    font-size: 20px;
                                    color: $preto_02;
                                    &:hover{
                                        background-color: $preto_02;
                                        color: $cinza_b6;
                                        transition: all .3s;
                                    }
                                }
                                

                                .botao-cinza{
                                    width: 306px;
                                    height: 49px;
                                    border: solid 2px $cinza_b6;
                                    background-color: transparent;
                                    padding: 10px;
                                    font-family: 'qanelasbold';
                                    font-size: 20px;
                                    color: $cinza_b6;
                                    &:hover{
                                        color: $turquesa;
                                        background-color: $cinza_b6;
                                        transition: all .3s;
                                    }
                                }
                            }
                            .fonte-cinza{
                                color: $cinza_b6;
                            }
                            .fonte-preta{
                                color: $preto_02;
                            }
                            .fonte-turquesa{
                                color: $turquesa;
                            }
                        }
                        .bloco-imagem{
                            position: absolute;
                            z-index: 1;
                            width: 100%;
                            height: 100%;
                            .imagem-produto{
                                margin-left: 60px;
                                img{
                                    max-height: 496px;
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    -moz-transform: scaleX(-1);
                                    -o-transform: scaleX(-1);
                                    -webkit-transform: scaleX(-1);
                                    transform: scaleX(-1);
                                }
                            }
                        }
                    }
                }
            }
        }
    } 
}

.obra-segundo{
    .banner-obras{
        width: 100%;
        .banner-obras-conteudo{
            width: 1280px;
            height: 438px;
            padding: 0 40px 0 0;
            .obras-main{
                width: 100%;
                height: 100%;
                .fundo-cinza{
                    background-color: $cinza_b6;
                }
                .fundo-cinza-claro{
                    background-color: $cinza_f4;
                }
                .fundo-verde{
                    background-color: $verde_3b;
                }
                .fundo_turquesa {
                    background-color: $turquesa;
                }
                .obras-carrossel{
                    width: 100%;
                    height: 100%;
                    .obras-carrossel-conteudo{
                        width: 100%;
                        height: 100%;
                        position: relative;
                        display: flex;
                        .bloco-textos{
                            height: fit-content;
                            width: fit-content;
                            z-index: 2;
                            position: relative;
                            padding: 28px 0;
                            margin-left: 10%;
                            h1{
                                font-family: 'qanelasextrabold';
                                font-size: 82px;
                                width: 400px;
                            }
                            p{
                                font-family: 'qanelasmedium';
                                font-size: 18px;
                                line-height: 30px;
                                width: 450px;
                                margin-bottom: 10px;
                            }
                            a{
                                .botao-preto{
                                    width: 306px;
                                    height: 49px;
                                    border: solid 2px $preto_02;
                                    background-color: transparent;
                                    padding: 10px;
                                    font-family: 'qanelasbold';
                                    font-size: 20px;
                                    color: $preto_02;
                                    &:hover{
                                        background-color: $preto_02;
                                        color: $cinza_b6;
                                        transition: all .3s;
                                    }
                                }
                                

                                .botao-cinza{
                                    width: 306px;
                                    height: 49px;
                                    border: solid 2px $cinza_b6;
                                    background-color: transparent;
                                    padding: 10px;
                                    font-family: 'qanelasbold';
                                    font-size: 20px;
                                    color: $cinza_b6;
                                    &:hover{
                                        color: $turquesa;
                                        background-color: $cinza_b6;
                                        transition: all .3s;
                                    }
                                }
                            }
                            .fonte-cinza{
                                color: $cinza_b6;
                            }
                            .fonte-preta{
                                color: $preto_02;
                            }
                            .fonte-turquesa{
                                color: $turquesa;
                            }
                        }
                        .bloco-imagem{
                            position: absolute;
                            z-index: 1;
                            width: 100%;
                            height: 100%;
                            .imagem-produto{
                                margin-left: 60px;
                                img{
                                    max-height: 496px;
                                    position: absolute;
                                    bottom: 0;
                                    right: 0;
                                    margin-right: -70px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.obra-terceira{
    margin-bottom: 106px;
    .banner-obras{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        .banner-obras-conteudo{
            width: 1280px;
            height: 438px;
            padding: 0 0 0 40px;
            .obras-main{
                width: 100%;
                height: 100%;
                .fundo-cinza{
                    background-color: $cinza_b6;
                }
                .fundo-cinza-claro{
                    background-color: $cinza_f4;
                }
                .fundo-verde{
                    background-color: $verde_3b;
                }
                .fundo_turquesa {
                    background-color: $turquesa;
                }
                .obras-carrossel{
                    width: 100%;
                    height: 100%;
                    .obras-carrossel-conteudo{
                        width: 100%;
                        height: 100%;
                        position: relative;
                        display: flex;
                        .bloco-textos{
                            height: fit-content;
                            width: fit-content;
                            z-index: 2;
                            position: absolute;
                            right: 0;
                            padding: 0 28px;
                            margin-right: 10%;
                            h1{
                                font-family: 'qanelasextrabold';
                                font-size: 82px;
                                width: 400px;
                            }
                            p{
                                font-family: 'qanelasmedium';
                                font-size: 18px;
                                line-height: 30px;
                                width: 450px;
                                margin-bottom: 30px;
                            }
                            a{
                                .botao-preto{
                                    width: 306px;
                                    height: 49px;
                                    border: solid 2px $preto_02;
                                    background-color: transparent;
                                    padding: 10px;
                                    font-family: 'qanelasbold';
                                    font-size: 20px;
                                    color: $preto_02;
                                    &:hover{
                                        background-color: $preto_02;
                                        color: $cinza_b6;
                                        transition: all .3s;
                                    }
                                }
                                

                                .botao-cinza{
                                    width: 306px;
                                    height: 49px;
                                    border: solid 2px $cinza_b6;
                                    background-color: transparent;
                                    padding: 10px;
                                    font-family: 'qanelasbold';
                                    font-size: 20px;
                                    color: $cinza_b6;
                                    &:hover{
                                        color: $turquesa;
                                        background-color: $cinza_b6;
                                        transition: all .3s;
                                    }
                                }
                            }
                            .fonte-cinza{
                                color: $cinza_b6;
                            }
                            .fonte-preta{
                                color: $preto_02;
                            }
                            .fonte-turquesa{
                                color: $turquesa;
                            }
                        }
                        .bloco-imagem{
                            position: absolute;
                            z-index: 1;
                            width: 100%;
                            height: 100%;
                            .imagem-produto{
                                margin-left: 60px;
                                img{
                                    max-height: 456px;
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 1300px){

    .banner-background {
        height: fit-content;
        .banner-container-pai .banner-container-conteudo-pai{
            padding-bottom: 10%;
            .container-padrao2{
                .banner-titulo-pai{
                    margin-bottom: 8%;
                    .banner-titulo-filho{
                        h1{
                            font-size: 32px;                            
                            margin-bottom: 10%;
                        }
                        .textos{
                            height: 100%;
                            width: 100%;
                            p{                                
                                font-size: 14px;                                
                                line-height: 21px;
                            }
                            .bold{
                                p{
                                    font-size: 14px;                                
                                    line-height: 21px;
                                }
                                
                            } 
                        }                        
                    }
                }
            }
        }
    }

    .container-map-pai {
        height: 300px;
        .container-total .container-padrao {
            height: 250px;
        }
    }

    .obra-segundo{
        .banner-obras{            
            .banner-obras-conteudo{
                width: 100%;
                height: 438px;
                padding: 0px 0 0;
                .obras-main{
                    .obras-carrossel{
                        .obras-carrossel-conteudo{
                            .bloco-textos{
                                padding: 28px 0;
                                margin-left: 10%;
                                h1{
                                    font-size: 72px;
                                    width: 400px;
                                }
                                p{
                                    font-size: 18px;
                                    line-height: 30px;
                                    width: 450px;
                                    margin-bottom: 10px;
                                }
                                a{
                                    .botao-preto{
                                        width: 306px;
                                        height: 49px;                           
                                        padding: 10px;                                       
                                        font-size: 20px;                                        
                                    }                                    

                                    .botao-cinza{
                                        width: 306px;
                                        height: 49px;                                       
                                        padding: 10px;                                       
                                        font-size: 20px;                                    
                                    }
                                }
                            }
                            .bloco-imagem{
                                .imagem-produto{
                                    margin-left: 20px;
                                    img{
                                        max-height: 466px;                                    
                                        margin-right: 0px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 1024px){

    .sobre-nos{
        .container-padrao{
            .card-sobre-pai{
                .card-sobre-imagem{
                    .textos {
                        margin-bottom: 100px;
                        .texto {
                            p {                            
                                line-height: 25px;                                
                            }
                        }
                    }
                }                
            }
        }
    }

    .obra-primeiro{
        .banner-obras {
            display: block;
            justify-content: center;
            .banner-obras-conteudo {
                width: 100%;
                height: 438px;
                padding: 0px;
                .obras-main {                
                    .obras-carrossel {
                        .obras-carrossel-conteudo {
                            .bloco-textos{
                                height: fit-content;
                                width: 100%;
                                padding: 8% 5%;
                                margin-right: 0px;
                                h1{
                                    font-size: 32px;
                                    width: 100%;
                                    text-align: right;
                                }
                                
                                p{
                                    font-size: 20px;
                                    line-height: 30px;
                                    margin-bottom: 10px;
                                    width: 100%;
                                    text-align: right;
                                }
                                a{
                                    display: flex;
                                    justify-content: flex-end;
                                    .botao-preto {
                                        width: 320px;
                                        height: 40px;
                                        padding: 5px;
                                        font-size: 18px;                                      
                                    }                                    
                                    .botao-cinza {
                                        width: 320px;
                                        height: 40px;
                                        padding: 5px;
                                        font-size: 18px;                                  
                                    }
                                }                                
                            }

                            .bloco-imagem {                               
                                .imagem-produto {
                                    margin-left: 60px;
                                    img {
                                        max-height: 396px;                                       
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .obra-segundo{  
        .banner-obras{
            display: block;
            justify-content: center;
            .banner-obras-conteudo{
                width: 100%;
                height: 438px;
                padding: 0px;
                .obras-main{
                    .obras-carrossel{
                        .obras-carrossel-conteudo{
                            .bloco-textos{
                                height: fit-content;
                                width: 100%;
                                padding: 8% 5%;
                                margin-right: 0px;
                                h1{
                                    font-size: 32px;
                                    width: 100%;
                                    text-align: left;
                                }
                                
                                p{
                                    font-size: 20px;
                                    line-height: 30px;
                                    margin-bottom: 10px;
                                    width: 100%;
                                    text-align: left;
                                }
                                a{
                                    display: flex;
                                    .botao-preto {
                                        width: 320px;
                                        height: 40px;
                                        padding: 5px;
                                        font-size: 18px;                                      
                                    }                                    
                                    .botao-cinza {
                                        width: 320px;
                                        height: 40px;
                                        padding: 5px;
                                        font-size: 18px;                                  
                                    }
                                }                                
                            }

                            .bloco-imagem {                               
                                .imagem-produto {
                                    margin-left: 60px;
                                    img {
                                        max-height: 396px;
                                        margin-right: 0px;                                       
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .obra-terceira{
        margin-bottom: 10%;
        .banner-obras{
            width: 100%;
            display: block;
            justify-content: center;
            .banner-obras-conteudo{
                width: 100%;
                height: 438px;
                padding: 0px;
                .obras-main{
                    .obras-carrossel{
                        .obras-carrossel-conteudo{
                            .bloco-textos{
                                height: fit-content;
                                width: 100%;
                                padding: 8% 5%;
                                margin-right: 0px;
                                h1{
                                    font-size: 32px;
                                    width: 100%;
                                    text-align: right;
                                }
                                
                                p{
                                    font-size: 20px;
                                    line-height: 30px;
                                    margin-bottom: 10px;
                                    width: 100%;
                                    text-align: right;
                                }
                                a{
                                    display: flex;
                                    justify-content: flex-end;
                                    .botao-preto {
                                        width: 320px;
                                        height: 40px;
                                        padding: 5px;
                                        font-size: 18px;                                      
                                    }                                    
                                    .botao-cinza {
                                        width: 320px;
                                        height: 40px;
                                        padding: 5px;
                                        font-size: 18px;                                  
                                    }
                                }                                
                            }

                            .bloco-imagem {                               
                                .imagem-produto {
                                    margin-left: 60px;
                                    img {
                                        max-height: 396px;                                       
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 768px){

    .sobre-nos{       
        .container-padrao{            
            .card-sobre-pai{               
                .card-sobre-imagem{
                    .textos {
                        margin-bottom: 8%;                        
                    }
                }
            }
        }
    }

    .obra-primeiro{
        .banner-obras {
            display: block;
            justify-content: center;
            .banner-obras-conteudo {
                width: 100%;
                height: 438px;
                padding: 0px;
                .obras-main {                
                    .obras-carrossel {
                        .obras-carrossel-conteudo {
                            .bloco-textos{
                                height: fit-content;
                                width: 100%;
                                padding: 8% 5%;
                                margin-right: 0px;
                                h1{
                                    font-size: 28px;
                                    width: 100%;
                                    text-align: right;
                                }
                                
                                p{
                                    font-size: 12px;
                                    line-height: 20px;                                    
                                    margin-bottom: 10px;
                                    width: 100%;
                                    text-align: right;
                                }
                                a{
                                    display: flex;
                                    justify-content: flex-end;
                                    .botao-preto {
                                        width: 220px;
                                        height: 30px;
                                        padding: 5px;
                                        font-size: 12px;                                      
                                    }                                    
                                    .botao-cinza {
                                        width: 220px;
                                        height: 30px;
                                        padding: 5px;
                                        font-size: 12px;                                  
                                    }
                                }                                
                            }

                            .bloco-imagem {                               
                                .imagem-produto {
                                    margin-left: 60px;
                                    img {
                                        max-height: 296px;                                       
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .obra-segundo{  
        .banner-obras{
            display: block;
            justify-content: center;
            .banner-obras-conteudo{
                width: 100%;
                height: 438px;
                padding: 0px;
                .obras-main{
                    .obras-carrossel{
                        .obras-carrossel-conteudo{
                            .bloco-textos{
                                height: fit-content;
                                width: 100%;
                                padding: 8% 5%;
                                margin-right: 0px;
                                h1{
                                    font-size: 28px;
                                    width: 100%;
                                    text-align: left;
                                }
                                
                                p{
                                    font-size: 12px;
                                    line-height: 20px;                                    
                                    margin-bottom: 10px;
                                    width: 100%;
                                    text-align: left;
                                }
                                a{
                                    .botao-preto {
                                        width: 220px;
                                        height: 30px;
                                        padding: 5px;
                                        font-size: 12px;                                      
                                    }                                    
                                    .botao-cinza {
                                        width: 220px;
                                        height: 30px;
                                        padding: 5px;
                                        font-size: 12px;                                  
                                    }
                                }                                
                            }
                            .bloco-imagem {                               
                                .imagem-produto {
                                    margin-left: 60px;
                                    img {
                                        max-height: 296px; 
                                        left: 0;                                      
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .obra-terceira{
        margin-bottom: 10%;
        .banner-obras{
            width: 100%;
            display: block;
            justify-content: center;
            .banner-obras-conteudo{
                width: 100%;
                height: 438px;
                padding: 0px;
                .obras-main{
                    .obras-carrossel{
                        .obras-carrossel-conteudo{
                            .bloco-textos{
                                height: fit-content;
                                width: 100%;
                                padding: 8% 5%;
                                margin-right: 0px;
                                h1{
                                    font-size: 28px;
                                    width: 100%;
                                    text-align: right;
                                }
                                
                                p{
                                    font-size: 12px;
                                    line-height: 20px;                                    
                                    margin-bottom: 10px;
                                    width: 100%;
                                    text-align: right;
                                }
                                a{
                                    display: flex;
                                    justify-content: flex-end;
                                    .botao-preto {
                                        width: 220px;
                                        height: 30px;
                                        padding: 5px;
                                        font-size: 12px;                                      
                                    }                                    
                                    .botao-cinza {
                                        width: 220px;
                                        height: 30px;
                                        padding: 5px;
                                        font-size: 12px;                                  
                                    }
                                }                                
                            }
                            .bloco-imagem {                               
                                .imagem-produto {
                                    margin-left: 60px;
                                    img {
                                        max-height: 296px; 
                                        right: 0 !important;                                      
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
   
}

@media(max-width: 630px){
    .sobre-nos{
        width: 100%;
        height: 600px;
        align-items: start;
        .container-padrao{
            display: flex;
            flex-wrap: wrap;
            .card-sobre-pai{
                height: 250px;
                width: 50%;
                .card-sobre-imagem{
                    .textos {
                        margin-bottom: 5%;
                        .titulo {
                            p {                                
                                font-size: 18px;
                                height: 50px;                                
                            }
                        }
                        .texto {
                            p {                                                             
                                font-size: 14px;
                                line-height: 18px;                                
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 500px){
    .container-map-pai .container-total{
        padding: 0 20px;
        .container-padrao{
            &::before{
                margin-right: 5px;
            }
            &::after{
                margin-left: 5px;
            }
        }
    }

}