//FONTES

//Qanelas Regular
@font-face {
    font-family: 'qanelasregular';
    src: url('../../fonts/qanelas-regular-webfont.woff2') format('woff2'),
         url('../../fonts/qanelas-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//Qanelas Medium
@font-face {
    font-family: 'qanelasmedium';
    src: url('../../fonts/qanelas-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//Qanelas Bold
@font-face {
    font-family: 'qanelasbold';
    src: url('../../fonts/qanelas-bold-webfont.woff2') format('woff2'),
         url('../../fonts/qanelas-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

//Qanelas Extra Bold
@font-face {
    font-family: 'qanelasextrabold';
    src: url('../../fonts/qanelas-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//Voga Medium
@font-face {
    font-family: 'vogamedium';
    src: url('../../fonts/voga-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cochocibscript';
    src: url('../../fonts/cochocib-script-latinpro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


//CORES

$branco = #fff;
$cinza_f4 = #f4f4f4;
$cinza_b6 = #c5beb6;
$cinza_9b = #9b9b9b;
$cinza_a6 = #b3ada6;
$cinza_90 = #909090;
$preto = #000;
$preto_01 = #1d1d1d;
$preto_02 = #020c15;
$verde_3b = #40443b;
$turquesa = #176c6d;

//ELEMENTOS
linha_horizontal(comprimento = 35px, cor = $cinza_b6){
    height: 2px;
    width: comprimento;
    background-color: cor;
}

